.datepicker-group .has-success .glyphicon,
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .datepicker-group .glyphicon,
.has-success .form-control-feedback,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
    color: #3c763d
}

.datepicker-group,
.has-feedback {
    position: relative
}

    .datepicker-group .form-control,
    .has-feedback .form-control {
        padding-right: 48.75px
    }

    .datepicker-group .glyphicon,
    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 39px;
        height: 39px;
        line-height: 39px;
        text-align: center;
        pointer-events: none
    }

.datepicker-group .form-group-lg .form-control + .glyphicon,
.datepicker-group .input-group-lg + .glyphicon,
.datepicker-group .input-group-lg > .form-control + .glyphicon,
.datepicker-group .input-group-lg > .input-group-addon + .glyphicon,
.datepicker-group .input-group-lg > .input-group-btn > .btn + .glyphicon,
.datepicker-group .input-lg + .glyphicon,
.form-group-lg .datepicker-group .form-control + .glyphicon,
.form-group-lg .form-control + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.input-group-lg > .form-control + .form-control-feedback,
.input-group-lg > .input-group-addon + .form-control-feedback,
.input-group-lg > .input-group-btn > .btn + .form-control-feedback,
.input-lg + .form-control-feedback {
    width: 50px;
    height: 50px;
    line-height: 50px
}

.datepicker-group .form-group-sm .form-control + .glyphicon,
.datepicker-group .input-group-sm + .glyphicon,
.datepicker-group .input-group-sm > .form-control + .glyphicon,
.datepicker-group .input-group-sm > .input-group-addon + .glyphicon,
.datepicker-group .input-group-sm > .input-group-btn > .btn + .glyphicon,
.datepicker-group .input-sm + .glyphicon,
.form-group-sm .datepicker-group .form-control + .glyphicon,
.form-group-sm .form-control + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.input-group-sm > .form-control + .form-control-feedback,
.input-group-sm > .input-group-addon + .form-control-feedback,
.input-group-sm > .input-group-btn > .btn + .form-control-feedback,
.input-sm + .form-control-feedback {
    width: 33px;
    height: 33px;
    line-height: 33px
}


.datepicker-group .has-warning .glyphicon,
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .datepicker-group .glyphicon,
.has-warning .form-control-feedback,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label {
    color: #8a6d3b
}


.datepicker-group .has-error .glyphicon,
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .datepicker-group .glyphicon,
.has-error .form-control-feedback,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #a94442
}

.datepicker-group .has-feedback label ~ .glyphicon,
.datepicker-group label ~ .form-control-feedback,
.datepicker-group label ~ .glyphicon,
.has-feedback label ~ .form-control-feedback {
    top: 30px
}

.datepicker-group .has-feedback label.sr-only ~ .glyphicon,
.datepicker-group label.sr-only ~ .form-control-feedback,
.datepicker-group label.sr-only ~ .glyphicon,
.has-feedback label.sr-only ~ .form-control-feedback {
    top: 0
}

    .datepicker-group .form-inline .has-feedback .glyphicon,
    .form-inline .datepicker-group .form-control-feedback,
    .form-inline .datepicker-group .glyphicon,
    .form-inline .has-feedback .form-control-feedback {
        top: 0
    }


.datepicker-group .form-horizontal .has-feedback .glyphicon,
.form-horizontal .datepicker-group .form-control-feedback,
.form-horizontal .datepicker-group .glyphicon,
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px
}

    .datepicker-group .navbar-form .has-feedback .glyphicon,
    .navbar-form .datepicker-group .form-control-feedback,
    .navbar-form .datepicker-group .glyphicon,
    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
    position: absolute
}

    .ui-datepicker .ui-datepicker-next span,
    .ui-datepicker .ui-datepicker-prev span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px
    }

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: 700;
    border: 0
}

.ui-datepicker td {
    border: 0;
    padding: 1px
}

    .ui-datepicker td a,
    .ui-datepicker td span {
        text-decoration: none
    }

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}

    .ui-datepicker .ui-datepicker-buttonpane button {
        float: right;
        margin: .5em .2em .4em;
        cursor: pointer;
        padding: .2em .6em .3em;
        width: auto;
        overflow: visible
    }

        .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
        .ui-datepicker-multi .ui-datepicker-group,
        .ui-datepicker-rtl .ui-datepicker-buttonpane button {
            float: left
        }

.ui-datepicker.ui-datepicker-multi {
    width: auto
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0
}

.ui-datepicker-rtl {
    direction: rtl
}

    .ui-datepicker-rtl .ui-datepicker-prev {
        right: 2px;
        left: auto
    }

    .ui-datepicker-rtl .ui-datepicker-next {
        left: 2px;
        right: auto
    }

    .ui-datepicker-rtl .ui-datepicker-prev:hover {
        right: 1px;
        left: auto
    }

    .ui-datepicker-rtl .ui-datepicker-next:hover {
        left: 1px;
        right: auto
    }

    .ui-datepicker-rtl .ui-datepicker-buttonpane {
        clear: right
    }

        .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
        .ui-datepicker-rtl .ui-datepicker-group {
            float: right
        }

    .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
    .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px
    }

.ui-datepicker {
    background-color: #fff;
    width: auto;
    padding: 0;
    box-sizing: initial;
    display: none
}

    .ui-datepicker.ui-widget-content {
        border: none;
        background: #fff;
        color: #333;
        border-radius: 0;
        box-shadow: 0 2px 7px rgba(0, 0, 0, .2)
    }

    .ui-datepicker td,
    .ui-datepicker td.ui-state-disabled,
    .ui-datepicker td.ui-widget-content {
        background-color: #fff !important
    }

        .ui-datepicker td a,
        .ui-datepicker td a.ui-state-default,
        .ui-datepicker td span,
        .ui-datepicker td span.ui-state-default {
            display: block !important;
            width: 38px !important;
            height: 38px !important;
            line-height: 38px !important;
            margin: 0 2px !important;
            padding: 0 !important;
            text-align: center !important;
            color: #333 !important;
            border-radius: 50% !important;
            border: none !important;
            box-shadow: none !important
        }

            .ui-datepicker td a.ui-state-active,
            .ui-datepicker td a.ui-state-default.ui-state-active,
            .ui-datepicker td span.ui-state-active,
            .ui-datepicker td span.ui-state-default.ui-state-active {
                color: #fff !important
            }

            .ui-datepicker td a.ui-state-hover {
                background: #611232;
                color: #fff !important
            }

    .ui-datepicker .ui-datepicker-header {
        background-color: #404041;
        color: #fff;
        padding: 11px 20px;
        margin-bottom: 20px;
        border-radius: 0;
        border: none
    }

    .ui-datepicker .ui-datepicker-title {
        margin: 0 1em;
        line-height: 1em;
        text-align: center;
        font-weight: 300
    }

    .ui-datepicker .ui-datepicker-month {
        font-size: 18px
    }

    .ui-datepicker .ui-datepicker-calendar th {
        text-transform: uppercase;
        font-weight: 300;
        color: #9d9d9d;
        font-size: 10px
    }

    .ui-datepicker .ui-datepicker-next {
        width: 0;
        height: 0;
        margin: 0;
        color: #9d9d9d;
        font-size: 12px;
        cursor: pointer;
        right: 0;
        top: 0
    }

        .ui-datepicker .ui-datepicker-next:hover:before {
            color: #4A90E2
        }

        .ui-datepicker .ui-datepicker-next:before {
            font-size: 19px;
            color: #fff;
            position: absolute;
            top: 8px;
            right: 20px;
            content: ">";
            visibility: visible;
            text-decoration: none
        }

        .ui-datepicker .ui-datepicker-next .ui-icon {
            visibility: hidden
        }

    .ui-datepicker .ui-datepicker-prev {
        width: 0;
        height: 0;
        margin: 0;
        color: #9d9d9d;
        font-size: 12px;
        cursor: pointer;
        left: 0;
        top: 0
    }

        .ui-datepicker .ui-datepicker-prev:hover:before {
            color: #4A90E2
        }

        .ui-datepicker .ui-datepicker-prev:before {
            font-size: 19px;
            color: #fff;
            position: absolute;
            top: 8px;
            left: 20px;
            content: "<";
            visibility: visible;
            text-decoration: none
        }

        .ui-datepicker .ui-datepicker-prev .ui-icon,
        .wizard-steps li:last-child i,
        .wizard-steps-extensive li:last-child i {
            visibility: hidden
        }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 0;
        top: 0
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 0;
        top: 0
    }

    .ui-datepicker select.ui-datepicker-year,
    .ui-datepicker select.ui-datepicker-year option {
        color: #333
    }

    .ui-datepicker .ui-state-active,
    .ui-datepicker .ui-widget-content .ui-state-active,
    .ui-datepicker .ui-widget-header .ui-state-active {
        background: #611232;
        color: #fff;
        border-radius: 50%
    }

    .ui-datepicker .ui-state-hover {
        background: #611232;
        color: #fff
    }

    .ui-datepicker .ui-datepicker-today .ui-state-default {
        border: 1px solid #611232 !important;
        border-radius: 50%;
        color: #333
    }

.datepicker-group .glyphicon {
    color: #919191
}
