            /* The Modal (background) */
            
            .modal {
                display: none;
                position: fixed;
                z-index: 2;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.4);
            }
            /* Modal Content */
            
            .modal-header {
                text-align: center;
                vertical-align: middle;
                background-color: #393C3E;
                padding: 15px;
                margin-bottom: 1px;
            }
            
            .modal-content {
                overflow: auto;
                border-radius: 10px;
                background-color: #fefefe;
                margin: auto;
                width: 150%;
                height: auto;
                max-height: 80%;
                /*max-width: 100%;*/
                display: block;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -5%);
            }
            /* The Close Button */
            
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            
            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            
            @media (max-width: 768px) {
                .modal .modal-content {
                    width: 90%;
                }
            }