@model ConaviWeb.Model.Minuta.RepoCaptura
@{
    // Layout = "_Layout";
    ViewBag.Title = "Instruccion";
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

    <!-- Bootstrap CSS -->
    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    // <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
}
<div class="box-body">

    <form id="formCat" method="post" asp-action="CrearCaptura">
        <div class="box-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-12 control-label" for="rol">Tipo Documento</label>
                    <div class="col-sm-12">

                        <select class="form-control" id="tipo_documento" name="tipo_documento" required="">
                            <option value="">--- Seleccione ---</option>
                            <option value="1"> Instrucción </option>
                            <option value="2"> Acuerdo </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label id="parrafo1">Clave instrucción</label>

                        <input type="text" class="form-control" id="folio" name="folio" required="">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label id="parrafo2">Número de Instrucción interno</label>

                        <input type="text" class="form-control" id="numero_interno" name="numero_interno" required="">
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="col-md-3">
                    <div class="form-group date">
                        <label for="fecha_sesion">Fecha de Sesión</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right datepicker" id="fecha_sesion" name="fecha_sesion" required="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="numero_sesion">Número de Sesión</label>
                        <input type="number" class="form-control" id="numero_sesion" name="numero_sesion">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label id="parrafo3"> Numero Instrucción progresivo </label>

                        <input type="number" class="form-control" id="numero_progresivo" name="numero_progresivo">
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="eje_id">Eje del Plan</label>
                        <select class="form-control" id="eje_id" name="eje_id">
                            <option value="">--- Seleccione ---</option>
                            <option value="1">E1 Erradicar la corrupción y reactivar la procuración de justicia</option>
                            <option value="2">E2 Garantizar empleo, educación, salud y bienestar</option>
                            <option value="3">E3 Pleno respeto y promoción de los derechos humanos</option>
                            <option value="4">E4 Regeneración ética de la sociedad</option>
                            <option value="5">E5 Reformular el combate a las drogas</option>
                            <option value="6">E6 Emprender la construcción de la paz</option>
                            <option value="7">E7 Recuperación y dignificación de las cárceles</option>
                            <option value="8">E8 Seguridad pública, seguridad nacional y paz</option>
                        </select>
                    </div>
                </div>


            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fecha_captura">Fecha de Captura</label>
                        <input type="text" class="form-control" id="fecha_captura" name="fecha_captura" required="">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fecha_cumplimiento">Fecha de Cumplimiento estimada</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right datepicker" id="fecha_cumplimiento" name="fecha_cumplimiento" value="">
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">

            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="tema_id">Temática Específica</label>
                        <select class="form-control" id="tema_id" name="tema_id" required="">
                            <option value="">--- Seleccione ---</option>
                            <option value="1">T01 INFORMACIÓN ESTADÍSTICA</option>
                            <option value="2">T02 GUARDIA NACIONAL</option>
                            <option value="3">T03 POLÍTICA MIGRATORIA</option>
                            <option value="4">T04 MERCADO ILÍCITO DE COMBUSTIBLE</option>
                            <option value="5">T05 DERECHOS HUMANOS</option>
                            <option value="6">T06 COMBATE A LA CORRUPCIÓN</option>
                            <option value="7">T07 DROGAS</option>
                            <option value="8">T08 PROGRAMAS PARA EL BIENESTAR</option>
                            <option value="9">T09 INFRAESTRUCTURA Y OBRAS PÚBLICAS</option>
                            <option value="10">T10 REUNIONES GABINETE DE SEGURIDAD</option>
                            <option value="11">T11 INVESTIGACIONES PENALES</option>
                            <option value="12">T12 DESAPARICIÓN (FOSAS CLANDESTINAS, BÚSQUEDA DE PERSONAS, IDENTIFICACIÓN DE CUERPOS)</option>
                            <option value="13">T13 OTROS</option>
                            <option value="14">T14 SEGURIDAD PÚBLICA</option>
                            <option value="15">T15 PROCESOS ELECTORALES</option>
                            <option value="16">T16 SALUD</option>
                            <option value="17">T17 PROTECCIÓN CIVIL</option>
                            <option value="18">T18 MEDIO AMBIENTE</option>
                            <option value="19">T19 MOVIMIENTOS SOCIALES</option>
                            <option value="20">T20 SINDICATOS</option>
                            <option value="21">T21 VIVIENDA</option>
                            <option value="22">T22 POLÍTICA EXTERIOR</option>
                            <option value="23">T23 EDUCACIÓN Y CIENCIA</option>
                            <option value="24">T24 SEGUIMIENTO LEGISLATIVO</option>
                            <option value="25">T25 EVENTOS Y ACTOS CONMEMORATIVOS</option>
                            <option value="26">T26 ASUNTOS INDÍGENAS</option>
                            <option value="27">T27 VIOLENCIA DE GÉNERO</option>
                            <option value="28">T28 AGRICULTURA, GANADERÍA Y PESCA</option>
                            <option value="29">T29 PREVENCIÓN DE LA VIOLENCIA Y LA DELINCUENCIA</option>
                            <option value="30">T30 TRANSPARENCIA</option>
                            <option value="31">T31 ASUNTOS LABORALES</option>
                            <option value="32">T32 MUNICIPIOS PRIORITARIOS</option>
                            <option value="34">T33 ESTRATEGIA DE SEGURIDAD</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label id="parrafo4">Instrucción</label>
                        <textarea rows="5" class="form-control" id="descripcion" name="descripcion" required=""></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="responsable_institucional">Institución Responsable</label>
                        <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Seleccione Responsable Institucional" id="responsable_institucional" name="responsable_institucional[]" required="" aria-hidden="true">
                            <option value="0">    N/A Sin Institución</option>
                            <option value="1">    C01 SEDENA</option>
                            <option value="2">    C02 SEMAR</option>
                            <option value="3">    C03 SEGOB</option>
                            <option value="4">    C04 FGR</option>
                            <option value="5">    C05 SSPC</option>
                            <option value="6">    C06 CJEF</option>
                            <option value="7">    C07 SESNSP</option>
                            <option value="8">    C08 CONAGUA</option>
                            <option value="9">    C09 Gob CDMX</option>
                            <option value="10">    C10 PEMEX</option>
                            <option value="11">    C11 SICT</option>
                            <option value="12">    C12 SE</option>
                            <option value="13">    C13 SEBIEN</option>
                            <option value="14">    C14 SECTUR</option>
                            <option value="15">    C15 SEDATU</option>
                            <option value="16">    C16 SFP</option>
                            <option value="17">    C17 SHCP</option>
                            <option value="18">    C18 SRE</option>
                            <option value="19">    C19 STPS</option>
                            <option value="20">    C20 SALUD</option>
                            <option value="21">    C21 SENER</option>
                            <option value="30">    C22 SEMARNAT</option>
                            <option value="31">    C23 CNPC</option>
                            <option value="32">    C24 SADER</option>
                            <option value="33">    C25 Oficina de Presidencia</option>
                            <option value="34">    C26 CNI</option>
                            <option value="35">    C27 INFONAVIT</option>
                            <option value="36">    C28 CFE</option>
                            <option value="37">    C29 SHCP-UIF</option>
                            <option value="38">    C30 PF</option>
                            <option value="39">    C31 PROFECO</option>
                            <option value="41">    C32 INEGI</option>
                            <option value="43">    C34 CRE</option>
                            <option value="44">    C35 INMUJERES</option>
                            <option value="45">    C36 Coordinación General de Programas Integrales de Desarrollo</option>
                            <option value="46">    C37 Vocería de la Presidencia</option>
                            <option value="47">    C38 SEP</option>
                            <option value="48">    C39 CULTURA</option>
                            <option value="49">    C40 SPF</option>
                            <option value="50">    C41 IMSS</option>
                            <option value="52">    C42 DIF</option>
                            <option value="53">    C43 CONACYT</option>
                            <option value="54">    C44 GN</option>
                            <option value="56">    C46 PROBEIS</option>
                            <option value="57">    C47 ISSSTE</option>
                            <option value="59">    C45 Coordinación Nacional Memoria Histórica</option>
                            <option value="60">    C33 NOTIMEX</option>
                            <option value="62">    C61 OADPRS</option>
                            <option value="63">    C63 UBBJ</option>
                            <option value="64">    C64 INM</option>
                            <option value="65">    C65 Sistema Público de Radiodifusión</option>
                            <option value="66">    C66 FCE</option>
                            <option value="67">    C67 Coordinación de Estrategia Digital Nacional</option>
                            <option value="68">    C68 INPI</option>
                            <option value="70">    C69 Corredor Interoceánico</option>
                            <option value="71">    C70 SCHTI</option>
                        </select>
                    </div>
                </div>
            </div>


            <input type="text" id="selectedRespInst" name="selectedRespInst">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="enlace_institucional">Enlace Institucional</label>


                        <select class="form-control" data-placeholder="Enlace Institucional" style="width: 100%;" id="enlace_institucional" name="enlace_institucional" required="">

                            <option value="">Seleccione</option>
                            <option data-attribute="0" value="45">
                                Marcos Cantero Cortés |  SALUD
                            </option>
                            <option data-attribute="0" value="46">
                                Humberto Hernández Haddad |  SECTUR
                            </option>
                            <option data-attribute="0" value="47">
                                Nadyme Cristina Reyes Buneder SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="48">
                                Mauricio Ignacio Ibarra Romo |  SESNSP
                            </option>
                            <option data-attribute="0" value="50">
                                Marcos Adrián Chávez Meza |  SHCP-UIF
                            </option>
                            <option data-attribute="0" value="51">
                                Marcos Ávalos Bracho |  SE
                            </option>
                            <option data-attribute="0" value="56">
                                Víctor Hugo Alcocer Yamanaka |  CONAGUA
                            </option>
                            <option data-attribute="0" value="58">
                                Heberto Barrios Castillo |  SENER
                            </option>
                            <option data-attribute="0" value="60">
                                Oficina Presi Oficina Presi Oficina Presi |  Oficina de Presidencia
                            </option>
                            <option data-attribute="0" value="64">
                                cni cni cni |  CNI
                            </option>
                            <option data-attribute="0" value="66">
                                Reinaldo Lecuona Esteban |  INFONAVIT
                            </option>
                            <option data-attribute="0" value="71">
                                Víctor Hugo Carrasco Castellanos |  SRE
                            </option>
                            <option data-attribute="0" value="73">
                                Carlos Mora Jurado |  SEBIEN
                            </option>
                            <option data-attribute="0" value="74">
                                Salomón Cámez Meillón |  SEMAR
                            </option>
                            <option data-attribute="0" value="77">
                                Aarón Mastache Mondragón |  CONAGUA
                            </option>
                            <option data-attribute="0" value="79">
                                Talía Vazquez Alatorre |  PROFECO
                            </option>
                            <option data-attribute="0" value="80">
                                Ricardo Esquivel Ballesteros |  CRE
                            </option>
                            <option data-attribute="0" value="81">
                                Alicia Razo Zúñiga |  CJEF
                            </option>
                            <option data-attribute="0" value="83">
                                Ramón Guardado Sánchez |  SEDENA
                            </option>
                            <option data-attribute="0" value="85">
                                Félix Andrés Peralta Saucedo |  PF
                            </option>
                            <option data-attribute="0" value="87">
                                Aldo León K |  CNPC
                            </option>
                            <option data-attribute="0" value="92">
                                Alan Axel López López |  PEMEX
                            </option>
                            <option data-attribute="0" value="95">
                                Emmanuel Chávez Pérez |  SPF
                            </option>
                            <option data-attribute="0" value="100">
                                Hanna Woloski X |  SEP
                            </option>
                            <option data-attribute="0" value="102">
                                Ximena Fernández Pineda |  Coordinación General de Programas Integrales de Desarrollo
                            </option>
                            <option data-attribute="0" value="103">
                                Gabriela Dennyse García Barba SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="106">
                                Vocero Vocero Vocero |  Vocería de la Presidencia
                            </option>
                            <option data-attribute="0" value="108">
                                Juan Miguel Hernández Martínez SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="109">
                                David Flores Gómez |  SEGOB
                            </option>
                            <option data-attribute="0" value="110">
                                José García Ceja |  SALUD
                            </option>
                            <option data-attribute="0" value="111">
                                Antonio Martínez Velázquez |  CULTURA
                            </option>
                            <option data-attribute="0" value="113">
                                Mayra Alejandra Zepeda Mendoza |  PF
                            </option>
                            <option data-attribute="0" value="118">
                                Jeús García González |  SADER
                            </option>
                            <option data-attribute="0" value="123">
                                Zoé Robledo Aburto |  IMSS
                            </option>
                            <option data-attribute="0" value="124">
                                Óscar Rubio X |  CONACYT
                            </option>
                            <option data-attribute="0" value="127">
                                Magda Leticia Coss Nogueda |  INMUJERES
                            </option>
                            <option data-attribute="0" value="128">
                                Genaro Ismael Medina Luna |  CFE
                            </option>
                            <option data-attribute="0" value="129">
                                Efraín Galindo Cadena |  GN
                            </option>
                            <option data-attribute="0" value="131">
                                Monserrat García Deheza |  STPS
                            </option>
                            <option data-attribute="0" value="132">
                                Jorge Bernardo Hernández Espinoza |  GN
                            </option>
                            <option data-attribute="0" value="141">
                                FOVISSSTE FOVISSSTE FOVISSSTE |  ISSSTE
                            </option>
                            <option data-attribute="0" value="143">
                                Jorge Ontiveros X |  CNI
                            </option>
                            <option data-attribute="0" value="144">
                                Mariana Perla Rojas Martínez |  DIF
                            </option>
                            <option data-attribute="0" value="145">
                                Hector Julio Pérez Granados |  INFONAVIT
                            </option>
                            <option data-attribute="0" value="146">
                                Dominique Martineau Frías |  Coordinación Nacional Memoria Histórica
                            </option>
                            <option data-attribute="0" value="147">
                                Domingo Garcilazo Solorio |  NOTIMEX
                            </option>
                            <option data-attribute="0" value="150">
                                Grisel Amador Lira SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="151">
                                Daniel Alejandro González Morón SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="154">
                                Luis Gerardo León González |  PROBEIS
                            </option>
                            <option data-attribute="0" value="156">
                                Nancy  Beatriz Mejía Herrera |  SEDATU
                            </option>
                            <option data-attribute="0" value="158">
                                Alejandrina González De la Rosa |  SADER
                            </option>
                            <option data-attribute="0" value="169">
                                Juan Carlos Morales León SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="172">
                                Karla Vianney Serrano Aragón SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="173">
                                Pablo Gutierrez Sanchez |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="176">
                                Daniel Rico Prieto |  SHCP
                            </option>
                            <option data-attribute="0" value="177">
                                Ranmses Ruiz Cáceres |  SHCP-UIF
                            </option>
                            <option data-attribute="0" value="178">
                                Silvia Angélica Reza Cisneros |  SFP
                            </option>
                            <option data-attribute="0" value="179">
                                Sergio Rodríguez Sánchez |  CNI
                            </option>
                            <option data-attribute="0" value="180">
                                Carlos Alexis González |  SEMAR
                            </option>
                            <option data-attribute="0" value="181">
                                Rafael Barranco Cruz |  GN
                            </option>
                            <option data-attribute="0" value="182">
                                Hilario Pérez León |  SECTUR
                            </option>
                            <option data-attribute="0" value="183">
                                Anaíd Duarte Rosas |  Vocería de la Presidencia
                            </option>
                            <option data-attribute="0" value="184">
                                Alicia Barrientos Pantoja |  INFONAVIT
                            </option>
                            <option data-attribute="0" value="185">
                                Eduardo Llamas Camacho |  CRE
                            </option>
                            <option data-attribute="0" value="186">
                                Pablo Parra Palacios SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="188">
                                Luis Humberto Fernández Fuentes |  SEP
                            </option>
                            <option data-attribute="0" value="189">
                                Mario Ramírez Topete |  SSPC
                            </option>
                            <option data-attribute="0" value="190">
                                Rubén Pederzine Sadik SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="191">
                                Mtro. Julio César Cervantes Parra |  ISSSTE
                            </option>
                            <option data-attribute="0" value="192">
                                Lic. Carlos Antonio Zazueta Pozos |  SSPC
                            </option>
                            <option data-attribute="0" value="193">
                                Dr. Julio Trujillo Segura SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="194">
                                Luis Méndez Díaz |  SE
                            </option>
                            <option data-attribute="0" value="195">
                                Mtro. Humberto Adán Peña Fuentes SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="196">
                                Sergio Sánchez Tovar |  FGR
                            </option>
                            <option data-attribute="0" value="197">
                                Javier Garduño Arredondo |  SEDATU
                            </option>
                            <option data-attribute="0" value="198">
                                Emelia Toledo Candia |  OADPRS
                            </option>
                            <option data-attribute="0" value="200">
                                Horacio Duarte Olivares |  STPS
                            </option>
                            <option data-attribute="0" value="202">
                                Raquel Sosa Elízaga |  UBBJ
                            </option>
                            <option data-attribute="0" value="203">
                                Armando López Cárdenas |  INM
                            </option>
                            <option data-attribute="0" value="204">
                                Cuahutémoc Villarreal M |  PROFECO
                            </option>
                            <option data-attribute="0" value="208">
                                José Antonio Ruiz Martínez |  CONACYT
                            </option>
                            <option data-attribute="0" value="209">
                                María de los Ángeles Morales K |  Sistema Público de Radiodifusión
                            </option>
                            <option data-attribute="0" value="211">
                                Carlos Emiliano Calderón Mercado |  Coordinación de Estrategia Digital Nacional
                            </option>
                            <option data-attribute="0" value="212">
                                Alfredo Domínguez Marrufo SIN INSTITUCIÓN
                            </option>
                            <option data-attribute="0" value="213">
                                Lic. Guillermo May Correa |  INPI
                            </option>
                            <option data-attribute="0" value="214">
                                Manuel Sánchez Álamo |  SSPC
                            </option>
                            <option data-attribute="0" value="215">
                                Ezra David García Alcazar |  FCE
                            </option>
                            <option data-attribute="0" value="216">
                                Nohemí Vargas Anaya |  Vocería de la Presidencia
                            </option>
                            <option data-attribute="0" value="217">
                                Hugo Aguilar Ortiz |  INPI
                            </option>
                            <option data-attribute="0" value="220">
                                Paola Villarreal Rodríguez |  CONACYT
                            </option>
                            <option data-attribute="0" value="221">
                                José Luis Calderón Ríos |  SEGOB
                            </option>
                            <option data-attribute="0" value="222">
                                Javier González Garza |  SICT
                            </option>
                            <option data-attribute="0" value="223">
                                Benito Mirón López |  SEGOB
                            </option>
                            <option data-attribute="0" value="224">
                                Marath Baruch Bolaños López |  STPS
                            </option>
                            <option data-attribute="0" value="225">
                                Tonatiuh Herrera Gutiérrez |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="226">
                                Aaron Mastache M |  SEGOB
                            </option>
                            <option data-attribute="0" value="229">
                                Ángel Romero González |  CFE
                            </option>
                            <option data-attribute="0" value="230">
                                Patricia Uribe Zúñiga |  INMUJERES
                            </option>
                            <option data-attribute="0" value="231">
                                Jorge Adrián Alcocer Castillejos |  SHCP
                            </option>
                            <option data-attribute="0" value="236">
                                VICENTE JAVIER MANDUJANO ACEVEDO |  SEDENA
                            </option>
                            <option data-attribute="0" value="237">
                                Rubén Núñez Alcaraz |  CNPC
                            </option>
                            <option data-attribute="0" value="238">
                                Javier Emiliano González Del Villar |  PEMEX
                            </option>
                            <option data-attribute="0" value="242">
                                Luis Fernando Rosas Ramírez |  SEGOB
                            </option>
                            <option data-attribute="0" value="243">
                                Alberto García Ramírez |  SSPC
                            </option>
                            <option data-attribute="0" value="244">
                                Édgar Moreno Gómez |  SFP
                            </option>
                            <option data-attribute="0" value="248">
                                Gustavo González Godínez |  PF
                            </option>
                            <option data-attribute="0" value="249">
                                Jorge Sánchez Arellano |  SEGOB
                            </option>
                            <option data-attribute="0" value="250">
                                Cristina Mireya Valdés Becerril |  GN
                            </option>
                            <option data-attribute="0" value="252">
                                Gabriel Gutiérrez Olay |  SE
                            </option>
                            <option data-attribute="0" value="253">
                                Dra. Claudia Piña Navarro |  SHCP
                            </option>
                            <option data-attribute="0" value="254">
                                Karla Estefanie Cortes Cosme |  INPI
                            </option>
                            <option data-attribute="0" value="255">
                                Ana Elena Espinosa Vázquez |  ISSSTE
                            </option>
                            <option data-attribute="0" value="256">
                                MIGUEL ÁNGEL LOERA SIMENTAL |  SADER
                            </option>
                            <option data-attribute="0" value="257">
                                Maritza Rosales Reyes |  SHCP
                            </option>
                            <option data-attribute="0" value="259">
                                Katia Vanessa López González |  CULTURA
                            </option>
                            <option data-attribute="0" value="261">
                                Leonardo Romero Mendoza |  CJEF
                            </option>
                            <option data-attribute="0" value="262">
                                Rodrigo Sirvent Bravo Ahuja |  SHCP-UIF
                            </option>
                            <option data-attribute="0" value="263">
                                Guillermo Gutiérrez Zavala |  GN
                            </option>
                            <option data-attribute="0" value="264">
                                Alma Mireya Navarro Cruz |  DIF
                            </option>
                            <option data-attribute="0" value="266">
                                Hidalgo Borghio Ruiz Hernández |  ISSSTE
                            </option>
                            <option data-attribute="0" value="267">
                                Carlos A. Castillo Pérez |  SEBIEN
                            </option>
                            <option data-attribute="0" value="268">
                                Alfredo Páez Herrera |  SFP
                            </option>
                            <option data-attribute="0" value="269">
                                Hiram Ehecatl Aquino Díaz |  INPI
                            </option>
                            <option data-attribute="0" value="270">
                                Andrea Avendaño López |  CJEF
                            </option>
                            <option data-attribute="0" value="271">
                                Fernando Magro Soto Otero |  PROBEIS
                            </option>
                            <option data-attribute="0" value="272">
                                David Aguilar Romero |  PROFECO
                            </option>
                            <option data-attribute="0" value="273">
                                Rafael Marin Mollinedo |  Corredor Interoceánico
                            </option>
                            <option data-attribute="0" value="274">
                                Alonso Jiménez Reyes |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="275">
                                Natalia García Nieto |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="278">
                                Erika Uribe Rodríguez |  STPS
                            </option>
                            <option data-attribute="0" value="280">
                                Hanna Woloski Álvarez |  SALUD
                            </option>
                            <option data-attribute="0" value="289">
                                Miguel Ángel Rojas Sandoval |  CFE
                            </option>
                            <option data-attribute="0" value="290">
                                Tte. Cor. Inf. DEM David Güereña Arias |  SEDENA
                            </option>
                            <option data-attribute="0" value="291">
                                Sergio Adrián García Robles |  SESNSP
                            </option>
                            <option data-attribute="0" value="292">
                                Daniela Ruano Coria |  SESNSP
                            </option>
                            <option data-attribute="0" value="293">
                                Oscar Del Cueto García |  SEBIEN
                            </option>
                            <option data-attribute="0" value="294">
                                Fernando Martínez García |  SE
                            </option>
                            <option data-attribute="0" value="295">
                                Abraham Issai Núñez Morales |  SEDATU
                            </option>
                            <option data-attribute="0" value="296">
                                María Araceli De Haas Matamoros |  SRE
                            </option>
                            <option data-attribute="0" value="298">
                                Sebastián Hernández Méndez |  PROFECO
                            </option>
                            <option data-attribute="0" value="299">
                                Germán Ruíz Méndez |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="300">
                                José Augusto Garrido Delgadillo |  IMSS
                            </option>
                            <option data-attribute="0" value="301">
                                Anabel Palacios Moreno |  SEDATU
                            </option>
                            <option data-attribute="0" value="302">
                                Eric Gaytan Soto |  SESNSP
                            </option>
                            <option data-attribute="0" value="303">
                                Diana Fabiola Piedra Flores |  PROFECO
                            </option>
                            <option data-attribute="0" value="304">
                                Mayela Alarcón Godínez |  CONAGUA
                            </option>
                            <option data-attribute="0" value="305">
                                Alejandro Govinda Riquelme Pastoressa |  SEGOB
                            </option>
                            <option data-attribute="0" value="306">
                                Fernando Soto O. |  PROBEIS
                            </option>
                            <option data-attribute="0" value="307">
                                Mtro. José Eugenio Granillo Domínguez |  SEGOB
                            </option>
                            <option data-attribute="0" value="308">
                                Emmanuel Chávez Pérez |  SPF
                            </option>
                            <option data-attribute="0" value="309">
                                Wilma Laura Gandoy Vázquez |  SRE
                            </option>
                            <option data-attribute="0" value="310">
                                Sergio Arista . |  CONACYT
                            </option>
                            <option data-attribute="0" value="312">
                                Yuritzi Arteaga Navarro |  SFP
                            </option>
                            <option data-attribute="0" value="313">
                                Mtro. José Armando García Nuño |  SECTUR
                            </option>
                            <option data-attribute="0" value="314">
                                Mtra. Liz Alejandra Ortega Sánchez |  SECTUR
                            </option>
                            <option data-attribute="0" value="315">
                                Karla Gabriela Valle Rodriguez |  CRE
                            </option>
                            <option data-attribute="0" value="316">
                                Luis Aguilar Meza |  CONAGUA
                            </option>
                            <option data-attribute="0" value="317">
                                Ariadna Leticia Vivero Galván |  GN
                            </option>
                            <option data-attribute="0" value="318">
                                Cedmihel Yahaira Quiñónes Olivares-Del Castillo |  INFONAVIT
                            </option>
                            <option data-attribute="0" value="319">
                                Tte. Crnel. Ramón López Alarcón |  SEDENA
                            </option>
                            <option data-attribute="0" value="320">
                                Arq. Juan José González Mendoza |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="321">
                                Mario Carrillo Carrillo |  SICT
                            </option>
                            <option data-attribute="0" value="322">
                                Amada Alina Rivera Castro |  IMSS
                            </option>
                            <option data-attribute="0" value="323">
                                Rafael Armando Castillo Pérez |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="324">
                                Alejandra Ramírez López |  SEMARNAT
                            </option>
                            <option data-attribute="0" value="325">
                                Diana Plata Rosas |  SSPC
                            </option>
                            <option data-attribute="0" value="326">
                                Mtra. Sandra Díaz Guevara |  SECTUR
                            </option>
                            <option data-attribute="0" value="327">
                                Alejandro Lenin Sierra Urtaza |  SEDATU
                            </option>
                            <option data-attribute="0" value="328">
                                Alberto García Ramírez. |  SEGOB
                            </option>
                            <option data-attribute="0" value="329">
                                Mtro. Efraín Guadarrama Pérez |  SRE
                            </option>
                            <option data-attribute="0" value="330">
                                Lucía López Nava |  CNI
                            </option>
                            <option data-attribute="0" value="331">
                                Lidia Soledad Ramírez Posadas |  PEMEX
                            </option>
                            <option data-attribute="0" value="332">
                                María Isabel Guerrero Flores |  CJEF
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="corresponsables">Instituciones Coadyuvantes</label>
                        <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Seleccione Responsable Institucional" id="corresponsables" name="corresponsables[]" required="" aria-hidden="true">
                            <option value="0">N/A | Sin Institución</option>
                            <option value="1">C01 | SEDENA</option>
                            <option value="2">C02 | SEMAR</option>
                            <option value="3">C03 | SEGOB</option>
                            <option value="4">C04 | FGR</option>
                            <option value="5">C05 | SSPC</option>
                            <option value="6">C06 | CJEF</option>
                            <option value="7">C07 | SESNSP</option>
                            <option value="8">C08 | CONAGUA</option>
                            <option value="9">C09 | Gob CDMX</option>
                            <option value="10">C10 | PEMEX</option>
                            <option value="11">C11 | SICT</option>
                            <option value="12">C12 | SE</option>
                            <option value="13">C13 | SEBIEN</option>
                            <option value="14">C14 | SECTUR</option>
                            <option value="15">C15 | SEDATU</option>
                            <option value="16">C16 | SFP</option>
                            <option value="17">C17 | SHCP</option>
                            <option value="18">C18 | SRE</option>
                            <option value="19">C19 | STPS</option>
                            <option value="20">C20 | SALUD</option>
                            <option value="21">C21 | SENER</option>
                            <option value="30">C22 | SEMARNAT</option>
                            <option value="31">C23 | CNPC</option>
                            <option value="32">C24 | SADER</option>
                            <option value="33">C25 | Oficina de Presidencia</option>
                            <option value="34">C26 | CNI</option>
                            <option value="35">C27 | INFONAVIT</option>
                            <option value="36">C28 | CFE</option>
                            <option value="37">C29 | SHCP-UIF</option>
                            <option value="38">C30 | PF</option>
                            <option value="39">C31 | PROFECO</option>
                            <option value="41">C32 | INEGI</option>
                            <option value="43">C34 | CRE</option>
                            <option value="44">C35 | INMUJERES</option>
                            <option value="45">C36 | Coordinación General de Programas Integrales de Desarrollo</option>
                            <option value="46">C37 | Vocería de la Presidencia</option>
                            <option value="47">C38 | SEP</option>
                            <option value="48">C39 | CULTURA</option>
                            <option value="49">C40 | SPF</option>
                            <option value="50">C41 | IMSS</option>
                            <option value="52">C42 | DIF</option>
                            <option value="53">C43 | CONACYT</option>
                            <option value="54">C44 | GN</option>
                            <option value="56">C46 | PROBEIS</option>
                            <option value="57">C47 | ISSSTE</option>
                            <option value="59">C45 | Coordinación Nacional Memoria Histórica</option>
                            <option value="60">C33 | NOTIMEX</option>
                            <option value="62">C61 | OADPRS</option>
                            <option value="63">C63 | UBBJ</option>
                            <option value="64">C64 | INM</option>
                            <option value="65">C65 | Sistema Público de Radiodifusión</option>
                            <option value="66">C66 | FCE</option>
                            <option value="67">C67 | Coordinación de Estrategia Digital Nacional</option>
                            <option value="68">C68 | INPI</option>
                            <option value="70">C69 | Corredor Interoceánico</option>
                            <option value="71">C70 | SCHTI</option>
                        </select>
                    </div>
                </div>
            </div>

            <input type="text" id="selectedCorres" name="selectedCorres">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="responsable_coas">Responsable Seguimiento SSPC</label>

                        <select class="form-control" data-placeholder="acuerdos.responsable_coas" style="width: 100%;" id="responsable_coas" name="responsable_coas" required="">
                            <option value="">Seleccione</option>
                            <option data-attribute="0" value="82">
                                Pablo Sánchez Gutiérrez |  SICT,SE,SEBIEN,STPS,SADER,PROFECO,CULTURA,IMSS,PROBEIS
                            </option>

                            <option data-attribute="0" value="130">
                                Gabriel Mendoza Presidencia |  SSPC
                            </option>

                            <option data-attribute="0" value="135">
                                Maralá Goode Romero |  SEMAR,CONAGUA,PEMEX,SECTUR,SEDATU,SFP,SHCP,SENER,Oficina de Presidencia,CFE,SHCP-UIF,INMUJERES,Coordinación General de Programas Integrales de Desarrollo,SEP,SPF,UBBJ,PDIT
                            </option>

                            <option data-attribute="0" value="136">
                                Karina Jiménez Velázquez |  SSPC,CJEF,SESNSP,SEMARNAT,CNPC,CNI,CONACYT,GN,NOTIMEX,OADPRS
                            </option>

                            <option data-attribute="0" value="149">
                                Karla Vianney Serrano Aragón |  SEGOB,SALUD,Vocería de la Presidencia,IMSS,ISSSTE,INM,FCE,Coordinación de Estrategia Digital Nacional
                            </option>

                            <option data-attribute="0" value="161">
                                Nuria Tovar Sánchez |  SEMAR,CONAGUA,PEMEX,SECTUR,SEDATU,SFP,SHCP,SENER,Oficina de Presidencia,CFE,SHCP-UIF,INMUJERES,Coordinación General de Programas Integrales de Desarrollo,SEP,SPF,UBBJ
                            </option>

                            <option data-attribute="0" value="162">
                                Rosa Viannei Coria Santos |  SEGOB,SALUD,Vocería de la Presidencia,IMSS,ISSSTE,INM,FCE,Coordinación de Estrategia Digital Nacional
                            </option>

                            <option data-attribute="0" value="163">
                                Lissly Carolina Páez Portillo |  SEDENA,SICT,SE,SEBIEN,SRE,STPS,SADER,INFONAVIT,PROFECO,CRE,CULTURA,DIF,PROBEIS,Coordinación Nacional Memoria Histórica,Sistema Público de Radiodifusión,INPI
                            </option>

                            <option data-attribute="0" value="164">
                                Antonio Herrera Vargas | SIN INSTITUCIÓN
                            </option>


                            <option data-attribute="0" value="218">
                                Hoguer Vivero Ávila |  SEGOB,SALUD,Vocería de la Presidencia,IMSS,ISSSTE,INM,FCE,Coordinación de Estrategia Digital Nacional
                            </option>

                            <option data-attribute="0" value="219">
                                Saulo Salamanca Granados | SIN INSTITUCIÓN
                            </option>


                            <option data-attribute="0" value="232">
                                Pablo Sánchez Gutierrez | SIN INSTITUCIÓN
                            </option>


                            <option data-attribute="0" value="234">
                                Ana Victoria Ramírez Pedraza |  SSPC,CJEF,SESNSP,SEMARNAT,CNPC,CNI,CONACYT,GN,NOTIMEX,OADPRS
                            </option>

                            <option data-attribute="0" value="239">
                                Margarita Juárez Castro |  SEGOB,SALUD,Vocería de la Presidencia,IMSS,ISSSTE,INM,FCE,Coordinación de Estrategia Digital Nacional
                            </option>

                            <option data-attribute="0" value="240">
                                Xochitl Alicia Navarro Hernández |  Oficina de Presidencia,Coordinación de Estrategia Digital Nacional
                            </option>

                            <option data-attribute="0" value="246">
                                Jorge Felix Calva Cano |  SEGOB,SECTUR,SEMARNAT,Oficina de Presidencia,Vocería de la Presidencia,Corredor Interoceánico
                            </option>

                            <option data-attribute="0" value="251">
                                Víctor Azpiroz Gallegos |  CJEF,SALUD,ISSSTE
                            </option>

                            <option data-attribute="0" value="258">
                                Karla Melissa Medina Soto |  SEDENA,SICT,SE,SEBIEN,SRE,STPS,SADER,PROFECO,CULTURA,PROBEIS
                            </option>

                            <option data-attribute="0" value="260">
                                Diana Guzmán Zamora |  SEDENA,SEGOB,SRE,INFONAVIT,GN,INM
                            </option>

                            <option data-attribute="0" value="279">
                                Diana Plata Rosas |  SSPC,SESNSP,PEMEX,SFP,SENER,CNPC,CNI,SEP,SPF,DIF,OADPRS
                            </option>

                            <option data-attribute="0" value="281">
                                Ana V Ramírez Pedraza |  PEMEX,SFP,SENER,SEP,DIF
                            </option>

                            <option data-attribute="0" value="284">
                                prueba prueba prueba |  SSPC
                            </option>

                            <option data-attribute="0" value="286">
                                Johana Sixtos Zaleta |  SEMAR,CONAGUA,SECTUR,SEDATU,SHCP,SHCP-UIF
                            </option>

                            <option data-attribute="0" value="287">
                                Luis Miguel Patiño González |  CFE,INMUJERES,Coordinación General de Programas Integrales de Desarrollo,CONACYT,UBBJ,Coordinación de Estrategia Digital Nacional
                            </option>

                            <option data-attribute="0" value="288">
                                Alejandro Cruz Cristobal |  CRE,Coordinación Nacional Memoria Histórica,NOTIMEX,Sistema Público de Radiodifusión,FCE,INPI
                            </option>

                            <option data-attribute="0" value="297">
                                Jorge Félix Calva Cano |  SEMAR,FGR,CJEF,SESNSP,CONAGUA,Gob CDMX,PEMEX,SICT,SE,SEBIEN,SECTUR,SEDATU,SFP,SHCP,SRE,STPS,SALUD,SENER,SEMARNAT,CNPC,SADER,Oficina de Presidencia,CNI,INFONAVIT,CFE,SHCP-UIF,PF,PROFECO,INEGI,CRE,INMUJERES,Coordinación General de Programas Integrales de Desarrollo,Vocería de la Presidencia,SEP,CULTURA,SPF,IMSS,DIF,CONACYT,GN,PROBEIS,ISSSTE,Coordinación Nacional Memoria Histórica,NOTIMEX,OADPRS,UBBJ,INM,Sistema Público de Radiodifusión,FCE,Coordinación de Estrategia Digital Nacional,INPI,Corredor Interoceánico
                            </option>

                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="gestiones_realizadas">Cita textual del Presidente</label>
                        <!--<label for="gestiones_realizadas">Gestiones Realizadas Responsable SSPC</label> -->
                        <textarea rows="5" class="form-control" id="gestiones_realizadas" name="gestiones_realizadas"></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="evidencia_coas">Evidencias archivo SSPC</label>


                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th>Subido</th>
                                    <th>Registró</th>
                                    <th>Institución</th>
                                    <th>Opciones</th>
                                </tr>
                                <tr>
                                    <td colspan="4"><center>No se registraron archivos</center></td>
                                </tr>
                            </tbody>
                        </table>

                        <input type="file" class="form-control" id="evidencia_coas" name="evidencia_coas">

                    </div>
                </div>
            </div>


            <!--   <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label for="gestiones_pendientes">Gestiones Pendientes</label>
                  <textarea rows="5" class="form-control" id="gestiones_pendientes" name="gestiones_pendientes" ></textarea>
              </div>
          </div>
        </div>
    -->


            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">

                        <label id="parrafo5">Fecha de Término de la Instrucción</label>

                        <div class="input-group">
                            <input type="text" class="form-control pull-right" id="fecha_termino" name="fecha_termino" value="">
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="evidencia_cumplimiento">Síntesis de Cumplimiento</label>
                        <textarea rows="5" class="form-control" id="evidencia_cumplimiento" name="evidencia_cumplimiento"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="evidencia_archivo">Evidencia Archivo Institución</label>

                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th>Subido</th>
                                    <th>Registró</th>
                                    <th>Institución</th>
                                    <th>Opciones</th>
                                </tr>
                                <tr>
                                    <td>2020-08-04 15:47:37</td>

                                    <td>Javier Garduño Arredondo</td>
                                    <td> SEDATU</td>

                                    <td>
                                        <a target="_blank" href="https://ricpdf.sspc.gob.mx/storage/app/evidencias/202008041547371.pdf" class="btn btn-info btn-sm">Ver</a>
                                        <a data-uuid="2abe7136-df37-4b72-a1c5-85bc5c8fae47" class="btn btn-danger btn-sm btnDeleteFile">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <input type="file" class="form-control" id="evidencia_archivo" name="evidencia_archivo">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="estatus_id">Estatus</label>
                        <select class="form-control" id="estatus_id" name="estatus_id" required="">
                            <option value="">--- Seleccione ---</option>
                            <option value="1">Cumplido totalmente</option>
                            <option value="3">Sin atención</option>
                            <option value="4">En proceso de cumplimiento (mediano plazo)</option>
                            <option value="5">En proceso de cumplimiento (corto plazo)</option>
                            <option value="7">Permanente</option>
                            <option value="8">En atención</option>
                            <option value="9">En proceso de cumplimiento (largo plazo)</option>
                        </select>
                    </div>
                </div>
            </div>


            <!--   <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label for="evidencia_fuente">Fuente de la Evidencia</label>
                <input type="text" class="form-control" id="evidencia_fuente" name="evidencia_fuente" value="" />
              </div>
          </div>
        </div>
    -->




        </div>
        <!-- /.box-body -->
        <div class="box-footer">


            <a class="btn btn-danger" href="https://ricpdf.sspc.gob.mx/acuerdos?Instruccion=1">Regresar</a>


            <button class="btn btn-danger" type="submit" id="btnSubmit">Guardar</button>

            <!--Se elimino id="btnSubmit" del boton, para que no generara el submit en el archivo acuerdos.js-->
            <!-- <button "id="btnSubmit type="submit" class="btn btn-danger">Guardar</button> -->
        </div>


        <input name="tipo_ducumento" id="tipo_ducumento" type="hidden">

    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        $("#selectedRespInst").hide();
        $("#selectedCorres").hide();
        $('#fecha_sesion').datepicker();
        $('#fecha_cumplimiento').datepicker();
        $('.select2').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
        $("#responsable_institucional").on('select2:select', function (e) {
            var data = e.params.data;
            //console.log(data.id);
            $("#selectedRespInst").val(function () {
                if (this.value == "")
                    return data.id
                return this.value +  "," + data.id;
            });
            console.log($("#selectedRespInst").val())
        });
        $("#corresponsables").on('select2:select', function (e) {
            var data = e.params.data;
            //console.log(data.id);
            $("#selectedCorres").val(function () {
                if (this.value == "")
                    return data.id
                return this.value + "," + data.id;
            });
            console.log($("#selectedCorres").val())
        });
    });
</script>