@model ConaviWeb.Model.Minuta.Acuerdo
@{
    // Layout = "_Layout";
    ViewBag.Title = "Acuerdo";
<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

<!-- Bootstrap CSS -->
<!-- Bootstrap Javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    //
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
}
    <form id="formCat" method="post" asp-action="CreateAcuerdo">
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-12 control-label" for="sector">Reunión</label>
                <div class="col-sm-12">
                    <select class="form-control" id="idReunion" name="idReunion" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Reunion"], "Clave" , "Descripcion" ))" required="">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="responsable">Responsable</label>
                    <select class="form-control select2 select2-hidden-accessible" id="responsable" name="responsable" multiple="" data-placeholder="Seleccione Responsable Institucional" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Responsable"], "Clave" , "Descripcion" ))" required="" aria-hidden="true">
                    </select>
                </div>
            </div>
            <input type="text" id="idResponsable" name="idResponsable">
            <div class="col-md-6">
                <div class="form-group datepicker-group">
                    <label class="control-label" for="fecha_termino">Fecha de Termino</label>
                    <input class="form-control" id="fecha_termino" name="fecha_termino" type="text">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="acuerdo">Acuerdo</label>
                    <textarea rows="3" class="form-control" id="descripcion" name="descripcion" required=""></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="responsable">Gestión</label>
                    <select class="form-control" id="idGestion" name="idGestion" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Gestion"], "Clave" , "Descripcion" ))" required="">
                        <option value="">--- Seleccione ---</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- /.box-body -->
        <div class="box-footer">


            <!-- <a class="btn btn-danger" href="https://ricpdf.sspc.gob.mx/acuerdos?Instruccion=1">Regresar</a> -->


            <button class="btn btn-primary pull-right" type="submit" id="btnSubmit">Guardar</button>
            <a href="@Url.Action("Index","ListaReuniones")" class="btn btn-primary pull-right">Regresar</a>

            <!--Se elimino id="btnSubmit" del boton, para que no generara el submit en el archivo acuerdos.js-->
            <!-- <button "id="btnSubmit type="submit" class="btn btn-danger">Guardar</button> -->
        </div>


        <input name="tipo_ducumento" id="tipo_ducumento" type="hidden">

    </form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        showAlert();
        $('#fecha_termino').datepicker();
        $("#idResponsable").hide();
        $('.select2').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
        $("#responsable").on('select2:select', function (e) {
            var data = e.params.data;
            //console.log(data);
            $("#idResponsable").val(function () {
                if (this.value == "")
                    return data.text
                return this.value + " , " + data.text;
            });
            console.log($("#idResponsable").val())
        });
        
        function showAlert() {

            setTimeout(function () {
                $("#alerta").fadeOut(1500);

            }, 6000);


            setTimeout(function () {

                $("#alerta").remove();
            }, 12000);

        }


    });
   
</script>
<style>

</style>