@model ConaviWeb.Model.Minuta.Minuta
@{
    Layout = "_LayoutSedatu";
    ViewBag.Title = "Captura";

}
<h4>Captura Minuta</h4>
<hr class="red">
<div class="form-group col-md-12">
    @Html.Raw(@ViewBag.Alert)
</div>
<form id="formCat" method="post" asp-action="CreateMinuta">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <div class="row  mb-3">
        <div class="form-group">
            <label class="form-label" class="col-sm-12 control-label" for="sector">Reunión</label>
            <div class="col-sm-12">
                <select class="form-control" id="idReunion" name="idReunion" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Reuniones"], "Clave" , "Descripcion" ))" required="">
                    <option value="">--- Seleccione ---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="tema">Tema</label>
                <input class="form-control" id="tema" name="tema" required="" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="asunto">Asunto</label>
                <textarea row mb-3s="3" class="form-control" id="asunto" name="asunto" required=""></textarea>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="contexto">Contexto</label>
                <textarea row mb-3s="3" class="form-control" id="contexto" name="contexto" required=""></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="descripcion">Descripción</label>
                <textarea row mb-3s="3" class="form-control" id="descripcion" name="descripcion" required=""></textarea>
            </div>
        </div>
    </div>
    <h5>Participantes</h5>
    <hr class="red">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="Sinterno">Interno</label>
                <select class="form-control select2 select2-hidden-accessible" id="Sinterno" name="Sinterno" multiple="" data-placeholder="Seleccione Participante Institucional" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Responsable"], "Clave" , "Descripcion" ))" required="" aria-hidden="true">
                </select>
            </div>
            <input type="text" id="interno" name="interno">
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="externo">Extreno</label>
                <input class="form-control" id="externo" name="externo" required="" type="text">
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-primary" type="submit" id="btnSubmit">Guardar</button>
    </div>


</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        showAlert();
        $("#interno").hide();
        $('.select2').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
        $("#Sinterno").on('select2:select', function (e) {
            var data = e.params.data;
            //console.log(data);
            $("#interno").val(function () {
                if (this.value == "")
                    return data.text
                return this.value + " , " + data.text;
            });
            console.log($("#interno").val())
        });
    });

    function showAlert() {

        setTimeout(function () {
            $("#alerta").fadeOut(1500);

        }, 6000);


        setTimeout(function () {

            $("#alerta").remove();
        }, 12000);

    }
</script>