@model ConaviWeb.Model.Minuta.ReunionTitular
@{
    Layout = "_LayoutSedatu";
    ViewBag.Title = "Reuniones";
   
}
<h4>Reuniones</h4>
<hr class="red">
<div class="form-group col-md-12">
    <div id="spinner" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<table id="tblMin" class="table table-hover" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>SECTOR</th>
            <th>TEMA</th>
            <th>RESPONSABLE</th>
            <th>MODALIDAD</th>
            <th>FECHA</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
</table>

@section Scripts {
}

<script>
    var table;
    var details;
    $(document).ready(function () {
        $("#spinner").hide();
        showTable();

        // Add event listener for opening and closing details
        //table.on('click', 'td.dt-control', function (e) {
        //    let tr = e.target.closest('tr');
        //    let row = table.row(tr);

        //    if (row.child.isShown()) {
        //        // This row is already open - close it
        //        row.child.hide();
        //    }
        //    else {
        //        // Open this row
        //        row.child(format(row.data())).show();
        //    }
        //});

    });

    $(window).on('beforeunload', function () {
        console.log("before");
        $('.spinner').css('display', 'block');
    });

    function semaforo(ft) {
        var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
        var dt = new Date(ft.replace(pattern, '$3-$2-$1'));
        var lday =
            dt.getFullYear() + '/' + (

                dt.getMonth() < 9 ? '0' : ''
            ) + (dt.getMonth() + 1) + '/' + (
                dt.getDate() < 10 ? '0' : ''
            ) + dt.getDate();

        var today = new Date();
        var tday =
            today.getFullYear() + '/' + (

                today.getMonth() < 9 ? '0' : ''
            ) + (today.getMonth() + 1) + '/' + (
                today.getDate() < 10 ? '0' : ''
            ) + today.getDate();

        let date1 = new Date(tday);
        let date2 = new Date(lday);
        // Calculating the time difference
        // of two dates
        let Difference_In_Time =
            date2.getTime() - date1.getTime();

        // Calculating the no. of days between
        // two dates
        let Difference_In_Days =
            Math.round
                (Difference_In_Time / (1000 * 3600 * 24));
        let color = '';
        switch (true) {
            case (Difference_In_Days < 0 && Difference_In_Days < 6):
                color = 'table-danger';
                break;
            case (Difference_In_Days > 6 && Difference_In_Days < 15):
                color = 'table-warning';
                break;
            case (Difference_In_Days > 15):
                color = 'table-success';
                break;
        }
        //console.log(color)
        return (color);


    }

    // Formatting function for row details - modify as you need
    //function format(details) {
    //    console.log(details);
    //    var dataHeader = '';
    //    dataHeader += '<tr>' +
    //        '<th>Responsable</th>' +
    //        '<th>Acuerdo</th>' +
    //        '<th>Fecha Termino</th>' +
    //        '<th>Acciones</th>' +
    //        '</tr>';
    //    var dataRow = '';
    //    $.each(details.acuerdos, function (index, a) {
    //        //console.log(participantes);
    //        let color = semaforo(a.fecha_termino);

    //            //console.log(a);
    //        dataRow +=
    //            '<tr class = '+color+'>' +
    //            '<td>' + a.responsable + '</td>' +
    //            '<td>' + a.dAcuerdo + '</td>' +
    //            '<td>' + a.fecha_termino + '</td>' +
    //            '<td>' +
    //            '<a href="DatatableJSDemo.html?id=' + a[3] + '"><i class="fa fa-pencil" aria-hidden="true"></i></a> | ' +
    //            '<a href="DatatableJSDemo.html?did=' + a[3] + '"><i class="fa fa-trash-o" aria-hidden="true"></i></a>' +
    //            '</td>' +
    //            '</tr>';
    //    });
    //    return (
    //        //dataHeader +
    //        dataRow
    //    );
    //}

    function showTable(data) {
        //console.log(data)
        $("#spinner").show();
        table = new DataTable('#tblMin', {
            "ajax": {
                url: "@Url.Action("GetRtitular", "ListaRTitular")",
                type: 'GET',
                headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                //success: function (data) { console.log(data) },
                complete: function (data) {
                    $("#spinner").hide();
                    details = data.responseJSON.data;
                    console.log(data);
                }
            },
            fixedColumns: true,
            language: {
                    "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            }
            },
            //createdRow: function (row, data, dataIndex) {
            //    var status = data.estatus;
            //    if (status == 'En proceso') $(row).addClass('table-warning');
            //    if (status == 'Pendiente') $(row).addClass('table-danger');
            //    if (status == 'Atendido') $(row).addClass('table-success');
            //},
            columns: [
                //{
                //    className: 'dt-control',
                //    orderable: false,
                //    data: null,
                //    defaultContent: ''
                //},
                { data: 'id' },
                { data: 'sector' },
                { data: 'tema' },
                { data: 'responsable' },
                { data: 'modalidad' },
                { data: 'fchCarga' },
            ],
            columnDefs: [
                {
                    className: "dt-center",
                    targets: 6,
                    orderable: false,
                    data: null,
                    render: function (data, type, row, meta) {
                        let reunion = row.id;
                        let urlInf = '@Url.Action("DownRT", "CapturaRTitular")/' + reunion;
                        //let urlInf = '#';
                        let botones = `
                        <a type="button" href=`+ urlInf + ` style="color: #611232; font-size: 18px;"><i class="fa fa-download" aria-hidden="true"></i></a>`;
                        return botones;
                    }
                },
            ],
            order: [[0, 'asc']]
        });

    }
</script>

<style>
    .table-success {
        background-color: #d1e7dd !important;
    }

    .table-warning {
        background-color: #fff3cd !important;
    }

    .table-danger {
        background-color: #f8d7da !important;
    }
</style>