@model ConaviWeb.Model.Request.UserRequest
@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}

    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div class="row" style="text-align:center">
                    <a href="https://www.gob.mx/conavi" style="margin-left: 0px;margin-top: -15px;"><i class="icon-cnv red-ic" style="font-size: 100px;"></i></a>
                </div>
                @Html.Raw(@ViewBag.Alert)
                @*@if (!_signInManager.IsSignedIn(User))
        {*@
                <form method="post" asp-action="Auth">
                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
                    <div class="form-group">
                        <select id="slctIdSistema" class="form-control" asp-for="IdSistema" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Sistemas"], "Id" , "Descripcion" ))"></select>
                        <h4 id="nameSystem" style="text-align: center; margin-bottom: 25px;"></h4>
                        <span asp-validation-for="IdSistema" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SUser"></label>
                        <input class="form-control" asp-for="SUser" />
                        <span asp-validation-for="SUser" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input class="form-control" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <br />

                    <button class="btn btn-primary pull-right" type="submit"><span class="fa fa-sign-in"></span>&ensp;Iniciar Sesión</button>
                </form>
                @*}
        else
        {
            Context.Response.Redirect("/inicio/Acerca_de");
        }*@
            </div>
            
            <div class="panel-footer" id="footerSisevive" hidden>
                <span>
                    ¿No estás registrado?
                </span>
                <a href="@Url.Action("Index", "UserSisevive")">Crear nuevo usuario</a>
            </div>
        </div>
    </div>

    @section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}
    <script>
        $(document).ready(function () {
            showAlert();
            $("#slctIdSistema").hide();
            $("#footerSisevive").hide();
            let option = $("#slctIdSistema").val();
            console.log(option);
            $("#nameSystem").html($("#slctIdSistema option:selected").text());
            if (option == 4) {
                window.location.href = "https://firmaelectronica.conavi.gob.mx:9090/";
            } else if (option == 1) {
                $("#footerSisevive").show('slow');
            }
            //$('#slctIdSistema').on('change', function () {
            //    let option = this.value;
            //    $("#footerSisevive").hide();
            //    console.log(option);
            //    if (option == 4) {
            //        window.location.href = "https://firmaelectronica.conavi.gob.mx:9090/";
            //    } else if (option == 1) {
            //        $("#footerSisevive").show('slow');
            //    }
            //});
        });
        $(window).on('beforeunload', function () {
            console.log("before");
            
            $('.spinner').css('display', 'block');
        });

        function showAlert() {

            setTimeout(function () {
                $("#alerta").fadeOut(1500);

            }, 3000);
            setTimeout(function () {

                $("#alerta").remove();
            }, 6000);

        }
    </script>
