@{
    ViewBag.Title = "Lista Cargados";
}
    <form id="formTable">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        RUTA
                    </th>
                    <th>
                        NOMBRE
                    </th>
                    <th>
                        FECHA CARGA
                    </th>
                    <th>
                        ESTATUS
                    </th>
                    <th>
                        DETALLE
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
<br />
<br />
<br />

