
<div class="form-row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-group ficha-collapse" id="Cgeneral">
                <div class="panel-default" style="padding:10px">
                        <!--General-->
                        <div class="panel-heading border-colapse">
                            <h4 class="panel-title">
                                <a data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral" aria-expanded="true" aria-controls="Pgeneral">
                                    <i class="fa fa-suitcase"></i> Solicitud de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Pgeneral">
                            <div class="panel-body">
                                <h4>Información del solicitante</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Nombre:</strong><br>
                                            <label class="red-text" id="nombre" name="Nombre" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Puesto:</strong><br>
                                            <label class="red-text" id="puesto" name="Puesto" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>Área de adscripción:</strong><br>
                                            <label class="red-text" id="area_adscripcion" name="Area_adscripcion" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row" style=" margin-bottom: 10px;">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>Descripción de la comisión:</strong><br>
                                            <label class="red-text" id="descripcion_comision" name="Descripcion_comision" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Oficio-->
                        <div class="panel-heading border-colapse top-buffer">
                            <h4 class="panel-title">
                                <a data-parent="#Coficio" data-toggle="collapse" href="#Poficio" aria-expanded="true" aria-controls="Poficio">
                                    <i class="fa fa-file-invoice"></i> Oficio de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Coficio" data-toggle="collapse" href="#Poficio"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Poficio">
                            <div class="panel-body">
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Objetivo:</strong><br>
                                            <label class="red-text" id="objetivo" name="Objetivo" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Observaciones:</strong><br>
                                            <label class="red-text" id="observaciones" name="Observaciones" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Lugares asignados en la comisión:</strong><br>
                                            <label class="red-text" id="lugares_asignados_comision" name="Lugares_asignados_comision" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Medio de transporte:</strong><br>
                                            <label class="red-text" id="medio_transporte" name="Medio_transporte" style="font-size:14px"></label>

                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Periodo de la comisión desde:</strong><br>
                                            <div class="form-group datepicker-group">
                                                <label class="red-text" id="periodo_comision_i" name="Periodo_comision_i" style="font-size:14px"></label>

                                            </div>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Periodo de la comisión hasta:</strong><br>
                                            <div class="form-group datepicker-group">
                                                <label class="red-text" id="periodo_comision_f" name="Periodo_comision_f" style="font-size:14px"></label>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Días de duración:</strong><br>
                                            <label class="red-text" id="dias_duracion" name="Dias_duracion" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Cuota diaria:</strong><br>
                                            <label class="red-text" id="cuota_diaria" name="Cuota_diaria" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Importe de viáticos:</strong><br>
                                            <label class="red-text" id="importe_viaticos" name="Importe_viaticos" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>


                                <div id="vehiculo" class="hidden">
                                    <div class="row " id="id_casetas">
                                        <div class="col-md-2">
                                            <p>
                                                <strong style="font-size:17px">No. de casetas:</strong><br>
                                                <label class="red-text" id="num_casetas" name="Num_casetas" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>
                                                <strong style="font-size:17px">Dotación de combustible según formula:</strong><br>
                                                <label class="red-text" id="dotacion_combustible" name="Dotacion_combustible" value="" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>
                                                <strong style="font-size:17px">Importe de gastos con cargo a pasajes:</strong><br>
                                                <label class="red-text" id="importe_gastos" name="Importe_gastos" value="" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <strong>Traza tu ruta:</strong><br>
                                                <img class="agrandar" id="traza_ruta" name="Traza_ruta" alt="Traza_ruta" style="width: 50%; " />
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <strong>Total:</strong><br>
                                                <label class="red-text" id="total_peajes" name="Total_peajes" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden" id="pasajesavion">
                                    <h4>Solicitud de pasajes aéreos</h4>
                                    <hr class="red" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Fecha de salida:</strong>
                                                <div class="form-group datepicker-group">
                                                    <br>
                                                    <label class="red-text" id="fecha_salida" name="Fecha_salida" style="font-size:14px"></label>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Fecha de regreso:</strong>
                                                <div class="form-group datepicker-group">
                                                    <br>
                                                    <label class="red-text" id="fecha_regreso" name="Fecha_regreso" style="font-size:14px"></label>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Horario estimado salida:</strong><br />
                                                <label class="red-text" id="horario_salida" name="Horario_salida" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Horario estimado regreso:</strong><br />
                                                <label class="red-text" style="font-size:14px" id="horario_regreso" name="Horario_regreso"></label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="hidden" id="datosAvion">
                                    <h4>Línea aérea:</h4>
                                    <label class="red-text" id="linea_aerea" name="Linea_aerea" style="font-size:14px"></label><br />
                                    <strong>Vuelo Salida</strong><br /><br />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Ruta:</strong><br>
                                                <label class="red-text" id="ruta_i" name="Ruta_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Vuelo:</strong><br>
                                                <label class="red-text" id="vuelo_i" name="Vuelo_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Sale:</strong><br>
                                                <label class="red-text" id="sale_i" name="Sale_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>

                                                <strong>Llega:</strong><br>
                                                <label class="red-text" id="llega_i" name="Llega_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <br />
                                    <label>Vuelo Regreso</label>
                                    <div class="row">
                                        <br />
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Ruta:</strong><br>
                                                <label class="red-text" id="ruta_f" name="Ruta_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Vuelo:</strong><br>
                                                <label class="red-text" id="vuelo_f" name="Vuelo_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Sale:</strong><br>
                                                <label class="red-text" id="sale_f" name="Sale_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Llega:</strong><br>
                                                <label class="red-text" id="llega_f" name="Llega_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="capturaAvion">
                                    <form id="form_avion">
                                        <input class="hidden" id="id" name="Id" />
                                        <h4>Línea aérea:</h4>
                                        <input placeholder="Especifique línea aérea" class="form-control" id="txtLinea_aerea" name="Linea_aerea" />
                                        <small id="lblLinea_aerea" class="hidden">Campo requerido *</small>
                                        <br />
                                        <label>Vuelo Salida</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>Ruta:</strong><br>
                                                    <input placeholder="Especifique ruta" class="form-control" id="txtRuta_i" name="Ruta_i" />
                                                    <small id="lblRuta_i" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>Vuelo:</strong><br>
                                                    <input placeholder="Especifique vuelo" class="form-control" id="txtVuelo_i" name="Vuelo_i" />
                                                    <small id="lblVuelo_i" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>Sale:</strong><br>
                                                    <input type="time" placeholder="Especifique sale" class="form-control" id="txtSale_i" name="Sale_i" />
                                                    <small id="lblSale_i" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>

                                                    <strong>Llega:</strong><br>
                                                    <input type="time" placeholder="Especifique llega" class="form-control" id="txtLlega_i" name="Llega_i" />
                                                    <small id="lblLlega_i" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                        </div>
                                        <br />
                                        <label>Vuelo Regreso</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>Ruta:</strong><br>
                                                    <input placeholder="Especifique ruta" class="form-control" id="txtRuta_f" name="Ruta_f" />
                                                    <small id="lblRuta_f" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>Vuelo:</strong><br>
                                                    <input placeholder="Especifique vuelo" class="form-control" id="txtVuelo_f" name="Vuelo_f" />
                                                    <small id="lblVuelo_f" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>Sale:</strong><br>
                                                    <input type="time" placeholder="Especifique sale" class="form-control" id="txtSale_f" name="Sale_f" />
                                                    <small id="lblSale_f" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>Llega:</strong><br>
                                                    <input type="time" placeholder="Especifique llega" class="form-control" id="txtLlega_f" name="Llega_f" />
                                                    <small id="lblLlega_f" class="hidden">Campo requerido *</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-4">
                                                <button class="btn btn-primary" type="button" id="btnUpdate">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>

                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results"></div>
<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

<script>
    $(document).ready(function () {
       

        $('#btnUpdate').click(function () {
            // Serializar el formulario a JSON

            //let obj = $("#form_viaticos").serializeToJSON({ associativeArrays: false }); forma antigua !!
            const array = $("#form_avion").serializeArray();
            const json = {};
            $.each(array, function () {
                // set JSON con valor o null
                json[this.name] = this.value || null;

            });
            //console.log("JSON: ",json);
            validarDatos(json);

            var elementos = $(".error-lbl").map(function () {
                return this.id;
            }).get();
            if (elementos == 0) {
                enviarDatos(json);
            }
        });

            //funciones
            function enviarDatos(obj) {

                let viaticos = JSON.stringify(obj);
                // Mostramos el Ajax Loader
                //$("#AjaxLoader").show("fast");

                // Deshabilitamos el botón de Submit
                $("#btnGeneral").prop("disabled", true);

            //Limpiar formulario
           //$("#informe").val("");


                $.ajax({
                    url: "@Url.Action("UpdateSolicitud", "AdminSolicitud")", // Url
                    contentType: 'application/json',
                    data:
                        // Datos
                        viaticos,
                    type: "post"  // Verbo HTTP
                })
                // Se ejecuta si todo fue bien.
                    .done(function (result) {
                        //console.log(result);
                        if (result != null) {

                            // Actualiza el resultado HTML
                            //$("#PostList").html(result);
                            $("#divDescripcion").show();

                            // Un pequeño esfecto especial ;)
                            $("#divDescripcion .row").hide();
                            $("#divDescripcion .row").slideToggle("fast");

                            // Limpia el formulario
                            $('#form_avion').find('input:text, input[type=time]')
                                .each(function () {
                                    $(this).val('');
                                });

                            //LLenamos el formiulario
                            $("#informe").val(result.informe).prop("readonly", true);
                            $("#observacion").val(result.observacion).prop("readonly", true);
                            var styleElem = document.head.appendChild(document.createElement("style"));
                            styleElem.innerHTML = ".escala-" + result.letra + ":after {background: " + result.color + ";}";
                            $(".escala-" + result.letra).css("background", result.color);
                            var rutaInforme = '../doc/Sisevive/' + result.idUserCarga + '/' + result.folio + '/' + result.nombreArchInforme;
                            //console.log(rutaInforme);
                            $('#btnDownInfo').attr('href', rutaInforme);

                            // Escondemos el Ajax Loader
                            //$("#AjaxLoader").hide("slow");

                            // Habilitamos el botón de Submit
                            $("#btnConsultar").prop("disabled", false);

                            // Mostramos un mensaje de éxito.
                            //$("#ExitoAlert").show("slow").delay(2000).hide("slow");
                            $("#alertAjax").append(result);
                            showAlert();
                        } else {
                            $("#divDescripcion").hide();
                            // Mostramos un mensaje de error.
                            $("#alertAjax").append(result);

                            // Habilitamos el botón de Submit
                            $("#btnGenerar").prop("disabled", false);

                            showAlert();
                        }

                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {
                    // Mostramos un mensaje de error.
                    //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                    // Escondemos el Ajax Loader
                    //$("#AjaxLoader").hide("slow");

                    // Habilitamos el botón de Submit
                    //$("#SubmitBtn").prop("disabled", false);
                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {

                });

            }
        function validarDatos(obj) {
            $.each(obj, function (key, val) {
                //console.log(key, " : ", val);
                if (val == null) {
                    $("#lbl" + key).addClass("error-lbl");
                    $("#lbl" + key).removeClass("hidden");
                } else {
                    $("#lbl" + key).removeClass("error-lbl");
                    $("#lbl" + key).addClass("hidden");
                }

            });


            $.each(obj, function (key, val) {

                if (val === "") {
                    $("#txt" + key).focus();
                    return false;
                }
            });
        }





    });




</script>
