
<div class="form-row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-group ficha-collapse" id="Cgeneral">
                <div class="panel-default" style="padding:10px">
                    <form id="form_viaticos">
                        <!--General-->
                        <div class="panel-heading border-colapse">
                            <h4 class="panel-title">
                                <a data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral" aria-expanded="true" aria-controls="Pgeneral">
                                    <i class="fas fa-suitcase"></i> Solicitud de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Pgeneral">
                            <div class="panel-body">
                                <h4>Información del solicitante</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Nombre:</strong><br>
                                            <label class="red-text" id="nombre" name="Nombre" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Puesto:</strong><br>
                                            <label class="red-text" id="puesto" name="Puesto" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>Área de adscripción:</strong><br>
                                            <label class="red-text" id="area_adscripcion" name="Area_adscripcion" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row" style=" margin-bottom: 10px;">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>Descripción de la comisión:</strong><br>
                                            <label class="red-text" id="descripcion_comision" name="Descripcion_comision" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Oficio-->
                        <div class="panel-heading border-colapse top-buffer">
                            <h4 class="panel-title">
                                <a data-parent="#Coficio" data-toggle="collapse" href="#Poficio" aria-expanded="true" aria-controls="Poficio">
                                    <i class="fas fa-file-invoice"></i> Oficio de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Coficio" data-toggle="collapse" href="#Poficio"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Poficio">
                            <div class="panel-body">
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Objetivo:</strong><br>
                                            <label class="red-text" id="objetivo" name="Objetivo" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Observaciones:</strong><br>
                                            <label class="red-text" id="observaciones" name="Observaciones" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Lugares asignados en la comisión:</strong><br>
                                            <label class="red-text" id="lugares_asignados_comision" name="Lugares_asignados_comision" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Medio de transporte:</strong><br>
                                            <label class="red-text" id="medio_transporte" name="Medio_transporte" style="font-size:14px"></label>

                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Periodo de la comisión desde:</strong><br>
                                            <div class="form-group datepicker-group">
                                                <label class="red-text" id="periodo_comision_i" name="Periodo_comision_i" style="font-size:14px"></label>

                                            </div>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Periodo de la comisión hasta:</strong><br>
                                            <div class="form-group datepicker-group">
                                                <label class="red-text" id="periodo_comision_f" name="Periodo_comision_f" style="font-size:14px"></label>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Días de duración:</strong><br>
                                            <label class="red-text" id="dias_duracion" name="Dias_duracion" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Cuota diaria:</strong><br>
                                            <label class="red-text" id="cuota_diaria" name="Cuota_diaria" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Importe de viáticos:</strong><br>
                                            <label class="red-text" id="importe_viaticos" name="Importe_viaticos" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>


                                <div id="vehiculo" class="hidden">
                                    <div class="row " id="id_casetas">
                                        <div class="col-md-2">
                                            <p>
                                                <strong style="font-size:17px">No. de casetas:</strong><br>
                                                <label class="red-text" id="num_casetas" name="Num_casetas" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>
                                                <strong style="font-size:17px">Dotación de combustible según formula:</strong><br>
                                                <label class="red-text" id="dotacion_combustible" name="Dotacion_combustible" value="" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>
                                                <strong style="font-size:17px">Importe de gastos con cargo a pasajes:</strong><br>
                                                <label class="red-text" id="importe_gastos" name="Importe_gastos" value="" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="float:right">
                                            <p>
                                                <strong>Total:</strong><br>
                                                <label class="red-text" id="total_peajes" name="Total_peajes" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h4>Solicitud de pasajes aéreos</h4>
                                    <hr class="red" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Fecha de salida:</strong>
                                                <div class="form-group datepicker-group">
                                                    <br>
                                                    <label class="red-text" id="fecha_salida" name="Fecha_salida" style="font-size:14px"></label>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Fecha de regreso:</strong>
                                                <div class="form-group datepicker-group">
                                                    <br>
                                                    <label class="red-text" id="fecha_regreso" name="Fecha_regreso" style="font-size:14px"></label>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Horario estimado salida:</strong>
                                                <select class="form-control" style="font-size:14px" id="slctHorario_salida" name="Horario_salida">
                                                    <option value="">--- Seleccionar ---</option>
                                                    <option value="1">Mañana</option>
                                                    <option value="2">Tarde</option>
                                                    <option value="3">Noche</option>
                                                </select>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Horario estimado regreso:</strong>
                                                <select class="form-control" style="font-size:14px" id="slctHorario_regreso" name="Horario_regreso">
                                                    <option value="">--- Seleccionar ---</option>
                                                    <option value="1">Mañana</option>
                                                    <option value="2">Tarde</option>
                                                    <option value="3">Noche</option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <strong>Línea aérea:</strong><br>
                                    <label class="red-text" id="linea_aerea" name="Linea_aerea" style="font-size:14px"></label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <strong>Ruta:</strong><br>
                                                <label class="red-text" id="ruta_i" name="Ruta_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                            <p>
                                                <strong>Vuelo:</strong><br>
                                                <label class="red-text" id="vuelo_i" name="Vuelo_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-2">
                                            <p>
                                                <strong>Sale:</strong><br>
                                                <label class="red-text" id="sale_i" name="Sale_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                            <p>

                                                <strong>Llega:</strong><br>
                                                <label class="red-text" id="llega_i" name="Llega_i" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <strong>Ruta:</strong><br>
                                                <label class="red-text" id="ruta_f" name="Ruta_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                            <p>
                                                <strong>Vuelo:</strong><br>
                                                <label class="red-text" id="vuelo_f" name="Vuelo_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-2">
                                            <p>
                                                <strong>Sale:</strong><br>
                                                <label class="red-text" id="sale_f" name="Sale_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                            <p>
                                                <strong>Llega:</strong><br>
                                                <label class="red-text" id="llega_f" name="Llega_f" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row top-buffer">
                                        <div class="col-md-4">
                                            <button class="btn btn-primary" id="btnOficio">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results"></div>
<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

<script>
    $(document).ready(function () {
        //campos excluidos según switch


        
            //eventos 
            //$('#switch_casetas').change(function () {
            //    if ($("#switch_casetas").prop('checked') == false) {
            //        $("#vehiculo").addClass("");

            //    } else {
            //        $("#vehiculo").removeClass("");

            //    }
            //});


            $('#btnGeneral').click(function () {
                let obj = $("#form_viaticos").serializeToJSON();
                validarDatos(obj);
                //enviarDatos(JSON.stringify(obj));

                var elementos = $(".error-lbl").map(function () {
                    return this.id;
                }).get();
                if (elementos == 0) {
                    enviarDatos();
                }
            });

            //funciones
            function enviarDatos(obj) {


                // Mostramos el Ajax Loader
                //$("#AjaxLoader").show("fast");

                // Deshabilitamos el botón de Submit
                $("#btnGeneral").prop("disabled", true);

            //Limpiar formulario
           //$("#informe").val("");


                $.ajax({
                    url: "@Url.Action("GuardarSolicitud", "ViaticosSolicitud")", // Url
                    contentType: 'application/json',
                    data:
                        // Datos
                        obj,
                    type: "post"  // Verbo HTTP
                })
                // Se ejecuta si todo fue bien.
                    .done(function (result) {
                        //console.log(result);
                        if (result.informe != null) {

                            // Actualiza el resultado HTML
                            //$("#PostList").html(result);
                            $("#divDescripcion").show();

                            // Un pequeño esfecto especial ;)
                            $("#divDescripcion .row").hide();
                            $("#divDescripcion .row").slideToggle("fast");

                            // Limpia el formulario
                            //$("#folio").val("");

                            //LLenamos el formiulario
                            $("#informe").val(result.informe).prop("readonly", true);
                            $("#observacion").val(result.observacion).prop("readonly", true);
                            var styleElem = document.head.appendChild(document.createElement("style"));
                            styleElem.innerHTML = ".escala-" + result.letra + ":after {background: " + result.color + ";}";
                            $(".escala-" + result.letra).css("background", result.color);
                            var rutaInforme = '../doc/Sisevive/' + result.idUserCarga + '/' + result.folio + '/' + result.nombreArchInforme;
                            //console.log(rutaInforme);
                            $('#btnDownInfo').attr('href', rutaInforme);

                            // Escondemos el Ajax Loader
                            //$("#AjaxLoader").hide("slow");

                            // Habilitamos el botón de Submit
                            $("#btnConsultar").prop("disabled", false);

                            // Mostramos un mensaje de éxito.
                            //$("#ExitoAlert").show("slow").delay(2000).hide("slow");
                        } else {
                            $("#divDescripcion").hide();
                            // Mostramos un mensaje de error.
                            $("#alertFolio").append(result);

                            // Habilitamos el botón de Submit
                            $("#btnGenerar").prop("disabled", false);

                            showAlert();
                        }

                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {
                    // Mostramos un mensaje de error.
                    //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                    // Escondemos el Ajax Loader
                    //$("#AjaxLoader").hide("slow");

                    // Habilitamos el botón de Submit
                    //$("#SubmitBtn").prop("disabled", false);
                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {

                });

            }
            function validarDatos(obj) {
                $.each(obj, function (key, val) {
                    if (val === "") {
                        $("#lbl" + key).addClass("error-lbl");
                        $("#lbl" + key).removeClass("");
                    } else {
                        $("#lbl" + key).removeClass("error-lbl");
                        $("#lbl" + key).addClass("");
                    }

                });

                 
              
            }

           



    });

    

    
</script>
