
<div class="form-row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-group ficha-collapse" id="Cgeneral">
                <div class="panel-default" style="padding:10px">
                        <!--General-->
                        <div class="panel-heading border-colapse">
                            <h4 class="panel-title">
                                <a data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral" aria-expanded="true" aria-controls="Pgeneral">
                                    <i class="fa fa-suitcase"></i> Solicitud de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Pgeneral">
                            <div class="panel-body">
                                <h4>Información del solicitante</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Nombre:</strong><br>
                                            <label class="red-text" id="nombre" name="Nombre" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Puesto:</strong><br>
                                            <label class="red-text" id="puesto" name="Puesto" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>Área de adscripción:</strong><br>
                                            <label class="red-text" id="area_adscripcion" name="Area_adscripcion" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row" style=" margin-bottom: 10px;">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>Descripción de la comisión:</strong><br>
                                            <label class="red-text" id="descripcion_comision" name="Descripcion_comision" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Oficio-->
                        <div class="panel-heading border-colapse top-buffer">
                            <h4 class="panel-title">
                                <a data-parent="#Coficio" data-toggle="collapse" href="#Poficio" aria-expanded="true" aria-controls="Poficio">
                                    <i class="fa fa-file-invoice"></i> Oficio de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Coficio" data-toggle="collapse" href="#Poficio"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Poficio">
                            <div class="panel-body">
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Objetivo:</strong><br>
                                            <label class="red-text" id="objetivo" name="Objetivo" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Observaciones:</strong><br>
                                            <label class="red-text" id="observaciones" name="Observaciones" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Lugares asignados en la comisión:</strong><br>
                                            <label class="red-text" id="lugares_asignados_comision" name="Lugares_asignados_comision" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Medio de transporte:</strong><br>
                                            <label class="red-text" id="medio_transporte" name="Medio_transporte" style="font-size:14px"></label>

                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Periodo de la comisión desde:</strong><br>
                                            <div class="form-group datepicker-group">
                                                <label class="red-text" id="periodo_comision_i" name="Periodo_comision_i" style="font-size:14px"></label>

                                            </div>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Periodo de la comisión hasta:</strong><br>
                                            <div class="form-group datepicker-group">
                                                <label class="red-text" id="periodo_comision_f" name="Periodo_comision_f" style="font-size:14px"></label>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Días de duración:</strong><br>
                                            <label class="red-text" id="dias_duracion" name="Dias_duracion" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Cuota diaria:</strong><br>
                                            <label class="red-text" id="cuota_diaria" name="Cuota_diaria" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Importe de viáticos:</strong><br>
                                            <label class="red-text" id="importe_viaticos" name="Importe_viaticos" style="font-size:14px"></label>
                                        </p>
                                    </div>
                                </div>


                                <div id="vehiculo" class="hidden">
                                    <div class="row " id="id_casetas">
                                        <div class="col-md-2">
                                            <p>
                                                <strong style="font-size:17px">No. de casetas:</strong><br>
                                                <label class="red-text" id="num_casetas" name="Num_casetas" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>
                                                <strong style="font-size:17px">Dotación de combustible según formula:</strong><br>
                                                <label class="red-text" id="dotacion_combustible" name="Dotacion_combustible" value="" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>
                                                <strong style="font-size:17px">Importe de gastos con cargo a pasajes:</strong><br>
                                                <label class="red-text" id="importe_gastos" name="Importe_gastos" value="" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <strong>Traza tu ruta:</strong><br>
                                                <img class="agrandar" id="traza_ruta" name="Traza_ruta" alt="Traza_ruta" style="width: 50%; " />
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <strong>Total:</strong><br>
                                                <label class="red-text" id="total_peajes" name="Total_peajes" style="font-size:14px"></label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden" id="pasajesavion">
                                    <h4>Solicitud de pasajes aéreos</h4>
                                    <hr class="red" />
                                    @*<div id="alertAjax" class="form-group">
                                        @Html.Raw(@ViewBag.Alert)
                                    </div>*@
                                    <form id="form_avion">
                                        <input class="hidden" id="id" name="Id" />
                                        <div class="row col-md-4">
                                            <label>Línea aérea:</label>
                                            <input placeholder="Especifique línea aérea" class="form-control" id="txtLinea_aerea" name="Linea_aerea" />
                                            <small id="lblLinea_aerea" class="hidden validate">Campo requerido *</small>
                                        </div>
                                        <div class="row col-md-12">
                                            <table id="table" class="table" style="width: 100%">
                                                <thead>
                                                    <tr style="font-size:12px;">
                                                        <th>
                                                            DESTINO
                                                        </th>
                                                        <th>
                                                            FECHA VUELO
                                                        </th>
                                                        <th>
                                                            HORARIO
                                                        </th>
                                                        <th>
                                                            RUTA
                                                        </th>
                                                        <th>
                                                            VUELO
                                                        </th>
                                                        <th>
                                                            SALE
                                                        </th>
                                                        <th>
                                                            LLEGA
                                                        </th>
                                                        <th>
                                                            EDITAR
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size:9px;">
                                                    <tr id="tr_vuelos_1">
                                                        <td id="destino_1" name="Destino_1"></td>
                                                        <td id="fecha_1" name="Fecha_1"></td>
                                                        <td id="horario_1" name="Horario_1"></td>
                                                        <td>
                                                            <input placeholder="Especifique ruta" class="input-sm form-control inp_i" id="txtRuta_i" name="Ruta_i" disabled style="font-size:9px;"/>
                                                            <small id="lblRuta_i" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input placeholder="Especifique vuelo" class="input-sm form-control inp_i" id="txtVuelo_i" name="Vuelo_i" disabled style="font-size:9px;"/>
                                                            <small id="lblVuelo_i" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique sale" class="input-sm form-control inp_i" id="txtSale_i" name="Sale_i" disabled style="font-size:9px;"/>
                                                            <small id="lblSale_i" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique llega" class="input-sm form-control inp_i" id="txtLlega_i" name="Llega_i" disabled style="font-size:9px;"/>
                                                            <small id="lblLlega_i" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td id="btn_vuelo_i" style="text-align: center">
                                                            <a class="select_a" id="btn_1" data-toggle="tooltip" title="Agregar vuelo"><i class="fa fa-pencil-square-o gold i" style="font-size:20px;"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr id="tr_vuelos_2" class="hidden">
                                                        <td id="destino_2" name="Destino_2"></td>
                                                        <td id="fecha_2" name="Fecha_2"></td>
                                                        <td id="horario_2" name="Horario_2"></td>
                                                        <td>
                                                            <input placeholder="Especifique ruta" class="input-sm form-control inp_f" id="txtRuta_f" name="Ruta_f" disabled style="font-size:9px;"/>
                                                            <small id="lblRuta_f" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input placeholder="Especifique vuelo" class="input-sm form-control inp_f" id="txtVuelo_f" name="Vuelo_f" disabled style="font-size:9px;"/>
                                                            <small id="lblVuelo_f" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique sale" class="input-sm form-control inp_f" id="txtSale_f" name="Sale_f" disabled style="font-size:9px;"/>
                                                            <small id="lblSale_f" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique llega" class="input-sm form-control inp_f" id="txtLlega_f" name="Llega_f" disabled style="font-size:9px;"/>
                                                            <small id="lblLlega_f" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td id="btn_vuelo_f" style="text-align: center">
                                                            <a class="select_a" id="btn_2" data-toggle="tooltip" title="Agregar vuelo"><i class="fa fa-pencil-square-o gold f" style="font-size:20px;"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr id="tr_vuelos_3" class="hidden">
                                                        <td id="destino_3" name="Destino_3"></td>
                                                        <td id="fecha_3" name="Fecha_3"></td>
                                                        <td id="horario_3" name="Horario_3"></td>
                                                        <td>
                                                            <input placeholder="Especifique ruta" class="input-sm form-control inp_j" id="txtRuta_j" name="Ruta_j" disabled style="font-size:9px;"/>
                                                            <small id="lblRuta_j" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input placeholder="Especifique vuelo" class="input-sm form-control inp_j" id="txtVuelo_j" name="Vuelo_j" disabled style="font-size:9px;"/>
                                                            <small id="lblVuelo_j" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique sale" class="input-sm form-control inp_j" id="txtSale_j" name="Sale_j" disabled style="font-size:9px;"/>
                                                            <small id="lblSale_j" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique llega" class="input-sm form-control inp_j" id="txtLlega_j" name="Llega_j" disabled style="font-size:9px;"/>
                                                            <small id="lblLlega_j" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td id="btn_vuelo_j" style="text-align: center">
                                                            <a class="select_a" id="btn_3" data-toggle="tooltip" title="Agregar vuelo"><i class="fa fa-pencil-square-o gold j" style="font-size:20px;"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr id="tr_vuelos_4" class="hidden">
                                                        <td id="destino_4" name="Destino_4"></td>
                                                        <td id="fecha_4" name="Fecha_4"></td>
                                                        <td id="horario_4" name="Horario_4"></td>
                                                        <td>
                                                            <input placeholder="Especifique ruta" class="input-sm form-control inp_k" id="txtRuta_k" name="Ruta_k" disabled style="font-size:9px;"/>
                                                            <small id="lblRuta_k" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input placeholder="Especifique vuelo" class="input-sm form-control inp_k" id="txtVuelo_k" name="Vuelo_k" disabled style="font-size:9px;"/>
                                                            <small id="lblVuelo_k" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique sale" class="input-sm form-control inp_k" id="txtSale_k" name="Sale_k" disabled style="font-size:9px;"/>
                                                            <small id="lblSale_k" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td>
                                                            <input type="time" placeholder="Especifique llega" class="input-sm form-control inp_k" id="txtLlega_k" name="Llega_k" disabled style="font-size:9px;"/>
                                                            <small id="lblLlega_k" class="hidden validate">Campo requerido *</small>
                                                        </td>
                                                        <td id="btn_vuelo_k" style="text-align: center">
                                                            <a class="select_a" id="btn_4" data-toggle="tooltip" title="Agregar vuelo"><i class="fa fa-pencil-square-o gold k" style="font-size:20px;"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row top-buffer">
                                            <div class="col-md-4">
                                                <button class="btn btn-primary" type="button" id="btnUpdate">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                        </div>
                            </div>

                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results"></div>
<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

<script>
    $(document).ready(function () {
       

        $('#btnUpdate').click(function () {
            // Serializar el formulario a JSON
            if ($("#txtRuta_i").val() != "") $(".inp_i").removeAttr('disabled');
            if ($("#txtRuta_f").val() != "") $(".inp_f").removeAttr('disabled');
            if ($("#txtRuta_j").val() != "") $(".inp_j").removeAttr('disabled');
            if ($("#txtRuta_k").val() != "") $(".inp_k").removeAttr('disabled');
            
            
            
            
            //let obj = $("#form_viaticos").serializeToJSON({ associativeArrays: false }); forma antigua !!
            const array = $("#form_avion").serializeArray();
            const json = {};
            $.each(array, function () {
                // set JSON con valor o null
                json[this.name] = this.value || null;

            });
            //console.log("JSON: ",json);
            validarDatos(json);

            var elementos = $(".error-lbl").map(function () {
                return this.id;
            }).get();
            if (elementos == 0) {
                enviarDatos(json);
            }
        });

            //funciones
            function enviarDatos(obj) {

                let viaticos = JSON.stringify(obj);
                // Mostramos el Ajax Loader
                //$("#AjaxLoader").show("fast");

                // Deshabilitamos el botón de Submit
                $("#btnGeneral").prop("disabled", true);

            //Limpiar formulario
           //$("#informe").val("");


                $.ajax({
                    url: "@Url.Action("UpdateSolicitud", "AdminSolicitud")", // Url
                    contentType: 'application/json',
                    data:
                        // Datos
                        viaticos,
                    type: "post"  // Verbo HTTP
                })
                // Se ejecuta si todo fue bien.
                    .done(function (result) {
                        //console.log(result);
                        if (result != null) {

                            // Actualiza el resultado HTML
                            //$("#PostList").html(result);
                            $("#divDescripcion").show();

                            // Un pequeño esfecto especial ;)
                            $("#divDescripcion .row").hide();
                            $("#divDescripcion .row").slideToggle("fast");

                            // Limpia el formulario
                            $('#form_avion').find('input:text, input[type=time]')
                                .each(function () {
                                    $(this).val('');
                                });

                            //LLenamos el formiulario
                            $("#informe").val(result.informe).prop("readonly", true);
                            $("#observacion").val(result.observacion).prop("readonly", true);
                            var styleElem = document.head.appendChild(document.createElement("style"));
                            styleElem.innerHTML = ".escala-" + result.letra + ":after {background: " + result.color + ";}";
                            $(".escala-" + result.letra).css("background", result.color);
                            var rutaInforme = '../doc/Sisevive/' + result.idUserCarga + '/' + result.folio + '/' + result.nombreArchInforme;
                            //console.log(rutaInforme);
                            $('#btnDownInfo').attr('href', rutaInforme);

                            // Escondemos el Ajax Loader
                            //$("#AjaxLoader").hide("slow");

                            // Habilitamos el botón de Submit
                            $("#btnConsultar").prop("disabled", false);

                            // Mostramos un mensaje de éxito.
                            //$("#ExitoAlert").show("slow").delay(2000).hide("slow");
                            $("#alertAjax").append(result);
                            //setInterval('location.reload()', 5000);
                            $.blockUI({
                                blockMsgClass: 'alertBox',
                                message: "<div class='alert alert-success' role='alert'>Se registraron los vuelos con exito</div>",
                                timeout: 2000
                            });
                            setInterval('location.reload()', 2500);
                            //showAlert();
                        } else {
                            $("#divDescripcion").hide();
                            // Mostramos un mensaje de error.
                            $("#alertAjax").append(result);

                            // Habilitamos el botón de Submit
                            $("#btnGenerar").prop("disabled", false);

                            showAlert();
                        }

                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {
                    // Mostramos un mensaje de error.
                    //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                    // Escondemos el Ajax Loader
                    //$("#AjaxLoader").hide("slow");

                    // Habilitamos el botón de Submit
                    //$("#SubmitBtn").prop("disabled", false);
                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {

                });

            }
        function validarDatos(obj) {
            $.each(obj, function (key, val) {
                //console.log(key, " : ", val);
                if (val == null) {
                    $("#lbl" + key).addClass("error-lbl");
                    $("#lbl" + key).removeClass("hidden");
                } else {
                    $("#lbl" + key).removeClass("error-lbl");
                    $("#lbl" + key).addClass("hidden");
                }

            });

            //campos excluidos según switch
            let exclude1;
            if ($('#tr_vuelos_1').is(':hidden')) {
                exclude1 = ["lblRuta_i", "lblVuelo_i", "lblSale_i", "lblLlega_i", "lblRuta_f", "lblVuelo_f", "lblSale_f", "lblLlega_f", "lblRuta_j", "lblVuelo_j", "lblSale_j", "lblLlega_j", "lblRuta_k", "lblVuelo_k", "lblSale_k", "lblLlega_k"];
            } else {
                exclude1 = [];
            }
            let exclude2;
            if ($('#tr_vuelos_2').is(':hidden')) {
                exclude2 = ["lblRuta_f", "lblVuelo_f", "lblSale_f", "lblLlega_f", "lblRuta_j", "lblVuelo_j", "lblSale_j", "lblLlega_j", "lblRuta_k", "lblVuelo_k", "lblSale_k", "lblLlega_k"];
            } else {
                exclude2 = [];
            }
            let exclude3;
            if ($('#tr_vuelos_3').is(':hidden')) {
                exclude3 = ["lblRuta_j", "lblVuelo_j", "lblSale_j", "lblLlega_j", "lblRuta_k", "lblVuelo_k", "lblSale_k", "lblLlega_k"];
            } else {
                exclude3 = [];
            }
            let exclude4;
            if ($('#tr_vuelos_4').is(':hidden')) {
                exclude4 = ["lblRuta_k", "lblVuelo_k", "lblSale_k", "lblLlega_k"];
            } else {
                exclude4 = [];
            }

            for (let i = 0; i < exclude1.length; i++) {
                $("#" + exclude1[i]).removeClass("error-lbl");
                $("#" + exclude1[i]).addClass("hidden");
                //console.log("#" + exclude[i])
            }

            $.each(obj, function (key, val) {

                if (val === "") {
                    $("#txt" + key).focus();
                    return false;
                }
            });
            for (let i = 0; i < exclude2.length; i++) {
                $("#" + exclude2[i]).removeClass("error-lbl");
                $("#" + exclude2[i]).addClass("hidden");
                //console.log("#" + exclude[i])
            }

            $.each(obj, function (key, val) {

                if (val === "") {
                    $("#txt" + key).focus();
                    return false;
                }
            });
            for (let i = 0; i < exclude3.length; i++) {
                $("#" + exclude3[i]).removeClass("error-lbl");
                $("#" + exclude3[i]).addClass("hidden");
                //console.log("#" + exclude[i])
            }

            $.each(obj, function (key, val) {

                if (val === "") {
                    $("#txt" + key).focus();
                    return false;
                }
            });
            for (let i = 0; i < exclude4.length; i++) {
                $("#" + exclude4[i]).removeClass("error-lbl");
                $("#" + exclude4[i]).addClass("hidden");
                //console.log("#" + exclude[i])
            }
            console.log("1 ", exclude1)
            console.log("2 ", exclude2)
            console.log("3 ", exclude3)
            console.log("4 ", exclude4)
            $.each(obj, function (key, val) {

                if (val === "") {
                    $("#txt" + key).focus();
                    return false;
                }
            });
        }

        $('.select_a').click(function () {
            var selectId = this.id.replace('btn_', '');
            console.log(selectId);
            if (selectId == 1) {
                if ($('.inp_i').is(':disabled')) {
                    $(".inp_i").removeAttr('disabled');
                    $(".i").removeClass('fa fa-pencil-square-o').addClass('fa fa-ban');
                } else {
                    $(".inp_i").attr('disabled', 'disabled');
                    $(".inp_i").val('');
                    $(".i").removeClass('fa fa-ban').addClass('fa fa-pencil-square-o');
                }
            } else if (selectId == 2) {
                if ($('.inp_f').is(':disabled')) {
                    $(".inp_f").removeAttr('disabled');
                    $(".f").removeClass('fa fa-pencil-square-o').addClass('fa fa-ban');
                } else {
                    $(".inp_f").attr('disabled', 'disabled');
                    $(".inp_f").val('');
                    $(".f").removeClass('fa fa-ban').addClass('fa fa-pencil-square-o');
                }
            } else if (selectId == 3) {
                if ($('.inp_j').is(':disabled')) {
                    $(".inp_j").removeAttr('disabled');
                    $(".j").removeClass('fa fa-pencil-square-o').addClass('fa fa-ban');
                } else {
                    $(".inp_j").attr('disabled', 'disabled');
                    $(".inp_j").val('');
                    $(".j").removeClass('fa fa-ban').addClass('fa fa-pencil-square-o');
                }
            } else if (selectId == 4) {
                if ($('.inp_k').is(':disabled')) {
                    $(".inp_k").removeAttr('disabled');
                    $(".k").removeClass('fa fa-pencil-square-o').addClass('fa fa-ban');
                } else {
                    $(".inp_k").attr('disabled', 'disabled');
                    $(".inp_k").val('');
                    $(".k").removeClass('fa fa-ban').addClass('fa fa-pencil-square-o');
                }
            }
            
            //$('#' + selectId).trigger('click'); // will behave as if #select-5 is clicked.
        });

        


    });




</script>
