@model ConaviWeb.Model.Sisevive.Etiquetado
@{

    ViewBag.Title = "AdminSol";
}


<div class="row">
    <div class="form-group col-md-4">
        <div id="spinner" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="form-group col-md-4">
        
    </div>
    <div class="form-group col-md-4">
        @*<a href="@Url.Action("GetAllBenef", "PevC2sr")"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>*@
    </div>
</div>

<div id="divTable" class="form-group" style="display:none;">
    <form id="formTable">
        <table id="table" class="table" style="width: 100%">
            <thead>
                <tr style="font-size:15px;">
                    <th>
                        ID
                    </th>
                    <th>
                        FECHA
                    </th>
                    <th>
                        # COMISIÓN
                    </th>
                    <th>
                        NOMBRE
                    </th>
                    <th>
                        ARCHIVO
                    </th>
                    <th>
                        EDITAR
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>
<div id="partial" class="row col-md-12 hidden">
    @{
        @await Html.PartialAsync("../RH/_SolicitudDetail")
    }
</div>

<!-- Modal Observación-->

    <div class="modal fade fade-" style="z-index:1041" id="showModalObsCan" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class='modal-header'>
                    <h4 id='titulo-modal' style="font-weight: 300">Observaciones</h4>
                </div>
                <div class='modal-body' style="height: 250px; overflow-x: hidden; overflow-y: auto;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>
                                    <span id="obsCancela"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    var table;
    var dataJSON;
        $(document).ready(function () {
            showAlert();
            $("#spinner").hide();
            //showAlert();
            //var tipo = $("#slctTipo option:selected").val();
            showTable();
            //console.log(dataJSON);

            /*$('#slctTipo').on('change', function () {
                console.log(this.value);
                showTable(this.value);
            });*/

            $('#showModalObsCan').on('show.bs.modal', function (e) {
                var bookId = $(e.relatedTarget).data('book-id');
                console.log("Observación: " + bookId);
                $(e.currentTarget).find('#obsCancela').text(bookId);
            });


            $('body').on('click', 'a', function (e) {

                if (this.className === "gold btn-action") {
                    let json = this.id.replace(/'/g, '"');
                    json = JSON.parse(json)
                    var idUser;
                    $.each(json, function (id, valor) {
                        //console.log(valor,id)
                        //console.log("$('#' ", id+").val("+valor+");");
                        //$("#" + id).attr("value", valor);

                        if (valor != null) {
                            //console.log(id, ":", valor);
                            if (id == "id") {
                                $("#" + id).val(valor);
                            } else if (id == "idUsuario") {
                                idUser = valor;
                                //console.log("usuario: ", idUser);
                            } else if (id == "traza_ruta") {
                                //console.log("usuario: ", idUser);
                                let foo = valor.indexOf("_")
                                $("#" + id).attr("src", "/doc/RH/SolicitudViaticos/" + valor.substring(0, foo) +"/"+ valor);
                            } else if (id == "linea_aerea") {
                                $("#txtLinea_aerea").val(valor);
                            } 
                            else if (id == "ruta_i") {
                                $("#txtRuta_i").val(valor);
                            } else if (id == "vuelo_i") {
                                $("#txtVuelo_i").val(valor);
                            } else if (id == "sale_i") {
                                $("#txtSale_i").val(valor);
                            } else if (id == "llega_i") {
                                $("#txtLlega_i").val(valor);
                            }
                            else if (id == "ruta_f") {
                                $("#txtRuta_f").val(valor);
                            } else if (id == "vuelo_f") {
                                $("#txtVuelo_f").val(valor);
                            } else if (id == "sale_f") {
                                $("#txtSale_f").val(valor);
                            } else if (id == "llega_f") {
                                $("#txtLlega_f").val(valor);
                            }
                            else if (id == "ruta_j") {
                                $("#txtRuta_j").val(valor);
                            } else if (id == "vuelo_j") {
                                $("#txtVuelo_j").val(valor);
                            } else if (id == "sale_j") {
                                $("#txtSale_j").val(valor);
                            } else if (id == "llega_j") {
                                $("#txtLlega_j").val(valor);
                            }
                            else if (id == "ruta_k") {
                                $("#txtRuta_k").val(valor);
                            } else if (id == "vuelo_k") {
                                $("#txtVuelo_k").val(valor);
                            } else if (id == "sale_k") {
                                $("#txtSale_k").val(valor);
                            } else if (id == "llega_k") {
                                $("#txtLlega_k").val(valor);
                            }
                            else {
                                $("#" + id).text(valor);
                            }

                        } else {
                            $("#" + id).text("");
                            if (id == "ruta_i") {
                                $("#txtRuta_i").val("");
                            } else if (id == "vuelo_i") {
                                $("#txtVuelo_i").val("");
                            } else if (id == "sale_i") {
                                $("#txtSale_i").val("");
                            } else if (id == "llega_i") {
                                $("#txtLlega_i").val("");
                            }
                            else if (id == "ruta_f") {
                                $("#txtRuta_f").val("");
                            } else if (id == "vuelo_f") {
                                $("#txtVuelo_f").val("");
                            } else if (id == "sale_f") {
                                $("#txtSale_f").val("");
                            } else if (id == "llega_f") {
                                $("#txtLlega_f").val("");
                            }
                            else if (id == "ruta_j") {
                                $("#txtRuta_j").val("");
                            } else if (id == "vuelo_j") {
                                $("#txtVuelo_j").val("");
                            } else if (id == "sale_j") {
                                $("#txtSale_j").val("");
                            } else if (id == "llega_j") {
                                $("#txtLlega_j").val("");
                            }
                            else if (id == "ruta_k") {
                                $("#txtRuta_k").val("");
                            } else if (id == "vuelo_k") {
                                $("#txtVuelo_k").val("");
                            } else if (id == "sale_k") {
                                $("#txtSale_k").val("");
                            } else if (id == "llega_k") {
                                $("#txtLlega_k").val("");
                            }

                            else if (id == "linea_aerea") {
                                $("#txtLinea_aerea").val("");
                            }
                        }
                        //$("#" + id).attr("disabled", true);
                    });

                    $("#partial").removeClass("hidden");
                    $(".input-sm").attr("disabled", 'disabled');
                    $(".validate").addClass("hidden");
                    scroll("partial");
                    ValidaVehiculo();
                    ValidaAvion();
                    ValidaCaptura();
                }


            });
        });

        function showTable() {

            $("#spinner").show();
            $("#divTable").show();
            table = $('#table').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: "@Url.Action("GetSolicitudes", "AdminSolicitud")",
                    //url: "/AdminSolicitud/GetSolicitudes",
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    //success: function (data) { console.log(data) },
                    complete: function (data) {
                        $("#spinner").hide();
                        dataJSON = data.responseJSON.data;
                        console.log(dataJSON);
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": true,
                "destroy": true,
                "scrollY": '700px',
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }

        var columns = [

            { "name": "Id", "data": "id", "targets": 0, "visible": false},
            { "name": "Fecha", "data": "fechaSol", "targets": 1 },
            { "name": "Folio", "data": "folio", "targets": 2 },
            { "name": "Nombre", "data": "nombre", "targets": 3 },
            //{ "name": "Editar", "data": "id", "targets": 4 }, ///Agregue este campo

            /*{
                "targets": 8,
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.nombreArchInforme != null) {
                        return '<a href="../doc/Sisevive/' + row.idUserCarga + "/" + row.folio + "/" + row.nombreArchInforme + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                    }
                    return null;
                },
                "sortable": false,
                "className": 'text-center'
            },*/
            {
                "targets": 4,
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.estatus >= 3) {
                        return '<a href="https://firmaelectronica.conavi.gob.mx:9090/doc/EFirma/Firmado/Recursos_Humanos/' + row.archivo_firma +'" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                    }
                    return '<a href="../AdminSolicitud/GenerateStreamPDF?id=' + row.id + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                },
                "sortable": false,
                "className": 'text-center'
            },
            {
                "targets": 5,
                "data": null,
                "render": function (data, type, row, meta) {
                    let json = JSON.stringify(row);
                    json = json.replace(/"/g, "'");
                    if (row.estatus == 1) {

                        return '<a id="' + json + '" class="gold btn-action" elemento="" type="button" style="font-size:25px;" data-toggle="tooltip" title="Editar Solicitud"><i class="fa fa-pencil-square-o"></i></a> | <a href="../AdminSolicitud/SendFiles/' + row.id + '"  data-toggle="tooltip" title="Enviar a firma"><i class="fa fa-check-square-o gold" style="font-size:25px;"></i></a>';
                    } else if (row.estatus == 2){
                        return '<small style="font-size:20px;">En proceso de firma</samll>';
                    } else if (row.estatus == 3) {
                        //return '<a href="https://firmaelectronica.conavi.gob.mx:9090/doc/EFirma/Original/Recursos_Humanos/2403142022092115.pdf" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                        return '<small style="font-size:20px;">Firmado</samll>';
                    } else if (row.estatus == 4) {
                        return '<small style="font-size:20px;">VoBo Contas</samll>';
                    } else if (row.estatus == 5) {
                        return '<a href="../' + row.archivo_pago + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                    } else if (row.estatus == 7) {
                        return '<small style="font-size:20px;">Firma solicitante</samll>';
                    } else if (row.estatus == 8) {
                        return '<small style="font-size:20px;">Firma Directivo</samll>';
                    }
                    else if (row.estatus == 9) {
                        return '<a data-book-id="' + row.obsCan + '" class="gold" data-toggle="modal" data-target="#showModalObsCan"><i class="fa fa-search gold" style="font-size:25px;"></i></a>';
                    }
                    return "";
                },
                "sortable": false,
                "className": 'text-center'
            }
        ];

        function showAlert() {
            scroll("partialView");
            setTimeout(function () {

                $("#alerta").fadeOut(1500);

            }, 6000);


            setTimeout(function () {

                $("#alerta").remove();
            }, 12000);

        }

        function scroll(id) {
            try {
                let el = document.getElementById(id);
                el.scrollIntoView(true);
            } catch (e) { console.log(e) }
        }




        //Funciones mostrar/ocultar seccion vehicular o aerea

        function ValidaCaptura() {
            //console.log("entro Avion: ", $("#fecha salida").text());
            var linea = $('#fecha_1').text();
            var linea2 = $('#fecha_2').text();
            var linea3 = $('#fecha_3').text();
            var linea4 = $('#fecha_4').text();
            var datosavion = $("#linea_aerea").text()
            console.log("fecha_salida: ", datosavion);

            if (linea != "") {
                console.log("mostrar captura");
                if (linea2 != "") {
                    $("#tr_vuelos_2").removeClass("hidden");
                }
                if (linea3 != "") {
                    $("#tr_vuelos_3").removeClass("hidden");
                }
                if (linea4 != "") {
                    $("#tr_vuelos_4").removeClass("hidden");
                }
                if (datosavion != "") {
                    $("#datosAvion").removeClass("hidden");
                }

                $("#capturaAvion").removeClass("hidden");
            } else {
                 console.log("ocultar captura");
                $("#datosAvion").addClass("hidden");
                $("#capturaAvion").addClass("hidden");
                $("#pasajesavion").addClass("hidden");
            }


        }
        function ValidaAvion() {
            //console.log("entro Avion: ", $("#fecha salida").text());
            var salida = $('#fecha_1').text();
            var regreso = $('#fecha_2').text();
            var salidaav = $('#horario_1').text();
            var regresoav = $('#horario_2').text();
            //console.log(salida);

            if (salida != "" || regreso != "" || salidaav != "" || regresoav != "") {
                //console.log("mostrar ");
                $("#pasajesavion").removeClass("hidden");
            } else {
                //console.log("ocultar ");
                $("#pasajesavion").addClass("hidden");
            }


        }

        function ValidaVehiculo() {
            //console.log("entro vehiculo: ", $("#num_casetas").text());
            var casetas = $('#num_casetas').text();
            var combustible = $('#dotacion_combustible').text();
            var igastos = $('#importe_gastos').text();

            //alert(casetas);
            //alert("entro vehiculo: ", $("#num_casetas").html());
            if (casetas != "" || combustible != "" || igastos != "") {
                console.log("mostrar vehiculo");
                $("#vehiculo").removeClass("hidden");
            } else {
                console.log("ocultar vehiculo");
                $("#vehiculo").addClass("hidden");

            }
        }

    </script>
}
