@model ConaviWeb.Model.Expedientes.Area

<form id="formActivarPuesto" enctype="multipart/form-data" method="post" asp-controller="Catalogos" asp-action="ActivarPuesto">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <div class='modal-header'>
        <h4 id='titulo-modal' style="font-weight: 300">Activar Puesto</h4>
    </div>
    <div class='modal-body'>
        <input id="idPuesto" asp-for="Id" type="text" class="form-control" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <h3>¿Estás seguro de activar el puesto o cargo?</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
        </button>
        <button type="submit" class="btn btn-sm btn-primary active">
            <span class="glyphicon glyphicon-ok-circle"></span> Si, activar
        </button>
    </div>
</form>