@model ConaviWeb.Model.Expedientes.ExpedienteNoExpedientable

<!-- Modal -->
<div class="modal fade" id="modalExpediente" tabindex="-1" role="dialog" aria-labelledby="modalExpediente" style="z-index:1041">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alta de expediente no expedientable</h4>
            </div>
            <form id="formInsertExpedienteNoExpedientable" enctype="multipart/form-data" method="post" asp-controller="NoExpedientable" asp-action="InsertExpedienteNoExpedientable">
                <input type="hidden" id="hd_id_inventario_expediente" asp-for="IdInventario" value="@ViewBag.IdInv" />
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label" for="slctTipoDocumental">Clave tipo documental:</label>
                            <select asp-for="IdTipoDocumental" id="slctTipoDocumental" class="form-control" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["CatTipoDoc"], "Id", "Clave"))">
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="slctTipoSoporte">Clave tipo de soporte:</label>
                            <select asp-for="IdTipoSoporte" id="slctTipoSoporte" class="form-control" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Catalogo"], "Id", "Clave"))">
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="text_clave_interna">Clave interna:</label>
                            @*<input type="text" asp-for="ClaveInterna" id="text_clave_interna" placeholder="9C.3-04/2011" class="form-control" />*@
                            <select id="slctClaveExp" asp-for="IdClaveInterna" class="form-control" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["ClaveInterna"], "Id", "Clave"))">
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label" for="text_partes">Número de partes:</label>
                            <input type="number" asp-for="Partes" id="text_partes" placeholder="0" class="form-control" min="1" />
                        </div>
                        <div class="col-md-4 datepicker-group">
                            <label class="control-label" for="felaboracion_nexp">Fecha de Elaboración</label>
                            <input type="text" asp-for="FechaElaboracion" class="form-control" id="felaboracion_nexp" readonly />
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="text_titulo">Título del expediente:</label>
                            <input type="text" asp-for="Titulo" id="text_titulo" class="form-control" placeholder="título del expediente..." />
                        </div>
                        <div class="col-md-12">
                            <label class="control-label" for="text_observaciones">Observaciones:</label>
                            <textarea class="form-control" asp-for="Observaciones" id="text_observaciones" placeholder="..." rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*fin del formulario de expediente de documentacion no expedientable*@

@*<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#felaboracion_nexp").datepicker({
            beforeShow: function (input, inst) {
                $(document).off('focusin.bs.modal');
            },
            onClose: function () {
                $(document).on('focusin.bs.modal');
            },
            changeYear: true
        });
        $("#formInsertExpedienteNoExpedientable").submit(function (e) {

            return true;
        });
    });
</script>