@model ConaviWeb.Model.Expedientes.Inventario

@*formulario de inventario de documentacion no expedientable*@
<form id="formInsertInventarioNoExpedientable" enctype="multipart/form-data" method="post" asp-controller="NoExpedientable" asp-action="InsertInventarioNoExpedientable">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <input type="hidden" id="hd_id_inventario" asp-for="Id" value="@ViewBag.IdInv" />
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label">Unidad Administrativa:</label>
            <select asp-for="IdArea" id="slctArea" class="form-control" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["AreaCatalogo"], "Id", "Clave"))">
                <option value="">--Seleccione--</option>
            </select>
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="felaboracion_inventario_nexp">Fecha de Elaboración:</label>
            <input type="text" asp-for="FechaElaboracion" id="felaboracion_inventario_nexp" class="form-control" />
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label" for="text_responsableAT">Nombre del responsable del archivo de trámite:</label>
            <input type="text" asp-for="NombreResponsableAT" id="text_responsableAT" class="form-control" value="María Luisa Negrete Gaytán" />
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="ftransferencia_inventario_nexp">Fecha de transferencia:</label>
            <input type="text" asp-for="FechaTransferencia" id="ftransferencia_inventario_nexp" class="form-control" />
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default btn-md pull-right">Guardar</button>
        </div>
    </div>
</form>
@*formulario de expediente de documentacion no expedientabale*@

<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>
<script>
    $(document).ready(function () {
        $('#felaboracion_inventario_nexp, #ftransferencia_inventario_nexp').datepicker();
        $("#formInsertInventarioNoExpedientable").submit(function (e) {

        });
    });
</script>