@model ConaviWeb.Model.Expedientes.Expediente
<!-- Modal -->
<div class="modal fade" id="modalExpediente" tabindex="-1" role="dialog" aria-labelledby="modalExpediente" style="z-index:1041">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alta de registro para inventario de control del acervo documental en los archivos de trámite</h4>
            </div>
            <form id="formInsertExpedienteControl" enctype="multipart/form-data" method="post" asp-controller="InventarioControl" asp-action="InsertExpedienteInventarioControl">
                <input type="hidden" id="hd_id_inventario_expediente" asp-for="IdInventario" value="@ViewBag.IdInv" />
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
                                <label class="control-label">Clave:</label>
                                <select id="slctClaveExp" asp-for="IdExpediente" class="form-control" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Catalogo"], "Id", "Clave"))">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Nombre del expediente:</label>
                            <input asp-for="Nombre" type="text" class="form-control" placeholder="nombre del expediente..." />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Número de legajos:</label>
                            <input asp-for="Legajos" type="number" class="form-control" placeholder="..." min="1" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <h5 class="text-center">Fecha de los documentos:</h5>
                            <div class="row">
                                <div class="col-md-6 datepicker-group">
                                    <label class="control-label" for="fprimero_antiguo">Primero (antiguo):</label>
                                    <input type="text" asp-for="FechaPrimeroAntiguo" id="fprimero_antiguo" class="form-control" placeholder="dd/mm/aaaa" />
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 datepicker-group">
                                    <label class="control-label" for="fultimo_reciente">Último (reciente):</label>
                                    <input type="text" asp-for="FechaUltimoReciente" id="fultimo_reciente" class="form-control" placeholder="dd/mm/aaaa" />
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*Fin del formulario para el alta de expediente*@

@*<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('#fprimero_antiguo, #fultimo_reciente').datepicker({
            beforeShow: function (input, inst) {
                $(document).off('focusin.bs.modal');
            },
            onClose: function () {
                $(document).on('focusin.bs.modal');
            },
            changeYear: true
        });
        $("#formInsertExpedienteControl").submit(function (e) {

        });
    });
</script>