@model ConaviWeb.Model.Expedientes.Area

<form id="formDesactivarPuesto" enctype="multipart/form-data" method="post" asp-controller="Catalogos" asp-action="DesactivarPuesto">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <div class='modal-header'>
        <h4 id='titulo-modal' style="font-weight: 300">Desactivar Puesto</h4>
    </div>
    <div class='modal-body'>
        <input id="idPuesto" asp-for="Id" type="text" class="form-control" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <h3>¿Estás seguro de desactivar el puesto o cargo?</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
            <span class="fa fa-times" aria-hidden="true"></span> Cancelar
        </button>
        <button type="submit" class="btn btn-sm btn-primary active">
            <span class="fa fa-eye-slash" aria-hidden="true"></span> Si, desactivar
        </button>
    </div>
</form>