<table id="tableExpedientes" class="table">
    <thead>
        <tr>
            <th>
                No. Prog.
            </th>
            <th>
                Cve del Expediente
            </th>
            <th>
                Nombre del Expediente
            </th>
            <th>
                Periodo
            </th>
            <th>
                Cantidad en años de resguardo en el archivo de concentración
            </th>
            <th>
                No. de Legajos
            </th>
            <th>
                No. de Fojas
            </th>
            <th>
                Observaciones
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>