@model ConaviWeb.Model.Expedientes.Expediente

<form id="formMigrarExpedienteInvNE" enctype="multipart/form-data" method="post" asp-controller="InventarioControl" asp-action="MigrarExpedienteControlInvNE">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <div class='modal-header'>
        <h4 id='titulo-modal' style="font-weight: 300">Migrar expediente a Inventario de Documentación No Expedientable</h4>
    </div>
    <div class='modal-body'>
        <input id="idExpediente" asp-for="Id" type="text" class="form-control" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <h3>¿Estás seguro de migrar el expediente al Inventario de Documentación No Expedientable?</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
        </button>
        <button type="submit" class="btn btn-sm btn-primary active">
            <span class="glyphicon glyphicon-new-window"></span> Si, migrar
        </button>
    </div>
</form>