@model ConaviWeb.Model.Expedientes.Area
@{
    ViewData["Title"] = "Catalogo de áreas";
}
@{
    @await Html.PartialAsync("../Expedientes/BotonesCatalogos");
}
@*************************************************************************************************************************************************************@
@* Tabla de control para el catálogo de areas *@
<div class="row">
    <div class="col-md-12">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <h3 class="text-center">Catálogo de áreas</h3>
    </div>
</div>
<hr />
<div id="divListaAreas">
    <div class="row">
        <div class="col-md-12">
            <form id="formTable">
                <table id="tableAreas" class="table">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<!-- Modal Update Area-->
<div class="modal fade fade-" style="z-index:1041" id="modalEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_UpdateArea")
            }
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var table;
        $(document).ready(function () {
            $("#spinner").hide();
            showAlert();
            showTable();
            $('#modalEdit').on('hidden.bs.modal', function (e) {
                $(this).find('#formUpdateArea')[0].reset();
            });
            $('#modalEdit').on('show.bs.modal', function (e) {
                var bookId = $(e.relatedTarget).data('book-id');
                $.ajax({
                    url: "@Url.Action("GetArea", "Catalogos")", // Url
                    data: {
                        // Datos / Parámetros
                        Id: bookId
                    },
                    type: "post"  // Verbo HTTP
                }).done(function (result) {
                    $('#idArea').val(result.id);
                    $('#label_descripcion').val(result.descripcion);
                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {
                    // Mostramos un mensaje de error.
                    //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                    // Escondemos el Ajax Loader
                    //$("#AjaxLoader").hide("slow");

                    // Habilitamos el botón de Submit
                    //$("#SubmitBtn").prop("disabled", false);
                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {

                });
                //$(e.currentTarget).find('#idSerie').val(bookId);
            });
        });
        function showTable() {
            var urlTipo = "";
            urlTipo = "/Catalogos/ListaAreas";
            $("#spinner").show();
            //$("#divTable").show();
            table = $('#tableAreas').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: urlTipo,
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    complete: function () {
                        $("#spinner").hide();
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": false,
                "destroy": true,
                "scrollY": true,
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }
        var columns = [
            { "name": "Id", "data": "id", "targets": 0},
            { "name": "Descripción", "data": "descripcion", "targets": 1 },
            {
                "targets": 2,
                "data": null,
                "render": function (data, type, row, meta) {
                    var ret = '<span data-book-id=' + row.id +' class="glyphicon glyphicon-pencil" title="Editar" data-toggle="modal" data-target="#modalEdit"></span>';
                    if (row.estatus == 'activo') ret += '<span class="glyphicon glyphicon-eye-close" title="Desactivar"></span>';
                    else ret += '<span class="glyphicon glyphicon-eye-open" title="Activar"></span>';
                    return ret;
                },
                "sortable": false,
                "className": 'text-center'
            },
        ];
        function showAlert() {
            setTimeout(function () {
                $("#alerta").fadeOut(1500);
            }, 6000);
            setTimeout(function () {
                $("#alerta").remove();
            }, 12000);
        }
    </script>
}