@{
    ViewData["Title"] = "Acervo Bibliohemerográfico";
}
@*formulario de acervo bibliohemerográfico*@
<div id="general">
    <div class="row">
        <div class="col-md-5">
            <img src="../img/encab2021.png" class="img-responsive" />
        </div>
        <div class="col-md-7 text-right">
            <label>
                SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />
                COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />
                DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />
                DEPARTAMENTO DE UNIDADES DOCUMENTALES
            </label>
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <label>Inventario de acervo bibliohemerográfico</label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label" for="unidadAdministrativa">Nombre de la Unidad Administrativa:</label>
            <label class="form-control" id="unidadAdministrativa">Aquí aparecerá la unidad administrativa ligada al usuario</label>
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="ftransferencia_biblio">Fecha de transferencia:</label>
            <label id="ftransferencia_biblio" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label" for="responsableArchivo">Nombre del responsable del archivo de trámite:</label>
            <label class="form-control" id="responsableArchivo">Aquí aparecerá el nombre del responsable</label>
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="felaboracion_inventario_biblio">Fecha de elaboración del Inventario:</label>
            <label id="felaboracion_inventario_biblio" class="form-control" />
        </div>
    </div>
    @*formulario de expediente bibliohemerográfico*@
    <div class="row">
        <div class="col-md-12">
            <form id="formTable">
                <table id="tableExpBiblio" class="table">
                    <thead>
                        <tr>
                            <th>
                                No. Prog.
                            </th>
                            <th>
                                No. Ejem.
                            </th>
                            <th>
                                Tipo de Soporte
                            </th>
                            <th>
                                Título del Libro
                            </th>
                            <th>
                                Nombre del Autor
                            </th>
                            <th>
                                Tema
                            </th>
                            <th>
                                Editorial
                            </th>
                            <th>
                                Año
                            </th>
                            <th>
                                ISBN/ISSN
                            </th>
                            <th>
                                No. Pág.
                            </th>
                            <th>
                                No. Volumen
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1

                            </td>
                            <td>
                                9C.3-01/2006
                            </td>
                            <td>
                                Contrato con "Radio y televisión de Aguascalientes" para realizar campañas publicitarias de la CONAVI
                            </td>
                            <td>
                                2006
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                2006
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                10
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                9C.3-02/2006
                            </td>
                            <td>
                                Contrato con "Radio y televisión de Aguascalientes" para realizar la producción de material audiovisual para el Premio Nacional de Vivienda
                            </td>
                            <td>
                                2006
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                2006
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                10
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                9C.1-01/2007
                            </td>
                            <td>
                                Acuerdo por el que se establecen los Lineamientos Generales para la orientación,planeación, autorización, coordinación, supervición y evaluación de las estrategias, programas y las campañas de Comunicación Social.
                            </td>
                            <td>
                                2007
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                15
                            </td>
                            <td>
                                2007
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                15
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="formTable">
                <table id="table" class="table text-center">
                    <thead>
                        <tr>
                            <td style="width: 25%">
                                Responsable de la custodia
                            </td>
                            <td style="width: 25%">
                                Entrega
                            </td>
                            <td style="width: 25%">
                                Recibe Responsable del Archivo de Concentración
                            </td>
                            <td style="width: 25%">
                                Vo.Bo. del Departamento de Unidades Documentales
                            </td>
                        </tr>
                        <tr>
                            <td><br /><br /><br /><br /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Nombre y firma
                            </td>
                            <td>
                                Nombre y firma
                            </td>
                            <td>
                                Nombre y firma
                            </td>
                            <td>
                                Nombre y firma
                            </td>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
    @*fin del formulario de expediente bibliohemerográfico*@
    @*fin del formulario de acervo bobliohemerográfico*@
    <hr />
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        const urlParams = new URLSearchParams(window.location.search);
        const idInv = urlParams.get('id');
        $(document).ready(function () {
            showAlert();
            $.ajax({
                url: "@Url.Action("GetInventarioBiblioById", "Bibliohemerografico")", // Url
                data: {
                    // Datos / Parámetros
                    Id: idInv
                },
                type: "post"  // Verbo HTTP
            }).done(function (result) {
                if (result.id != null) {
                    $('#unidadAdministrativa').text(result.nombreUnidadAdministrativa);
                    $('#responsableArchivo').text(result.nombreResponsableAT);
                    $('#ftransferencia_biblio').text(result.fechaTransferencia != null ? result.fechaTransferencia.substring(8, 10) + '/' + result.fechaTransferencia.substring(5, 7) + '/' + result.fechaTransferencia.substring(0, 4) : '');
                    $('#felaboracion_inventario_biblio').text(result.fechaElaboracion != null ? result.fechaElaboracion.substring(8, 10) + '/' + result.fechaElaboracion.substring(5, 7) + '/' + result.fechaElaboracion.substring(0, 4) : '');

                    var urlTipo = "";
                    urlTipo = "/Bibliohemerografico/GetExpedientesBiblioByIdInv";
                    table = $('#tableExpBiblio').DataTable({
                        "proccessing": true,
                        "serverSide": false,
                        "ajax": {
                            url: urlTipo,
                            data: { Id : idInv },
                            type: 'POST',
                            headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                            complete: function () {
                                $("#spinner").hide();
                            }
                        },
                        "columnDefs": columns,
                        "order": [[0, "desc"]],
                        "autoWidth": true,
                        "destroy": true,
                        "scrollY": true,
                        "scrollCollapse": true,
                        "paging": false,
                        "searching": false,
                        "info": false,
                        "scrollX": true,
                        "fixedColumns": true,
                        "ordering": false,
                        "language": {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            }
                        }
                    });
                } else {
                    $("#alertAjax").append(result);
                    showAlert();
                }
            })
            // Se ejecuta si se produjo un error.
            .fail(function (xhr, status, error) {
                // Mostramos un mensaje de error.
                //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                // Escondemos el Ajax Loader
                //$("#AjaxLoader").hide("slow");

                // Habilitamos el botón de Submit
                //$("#SubmitBtn").prop("disabled", false);
            })
            // Hacer algo siempre, haya sido exitosa o no.
            .always(function () {

            });

        });
        var columns = [
            { "name": "NoProg", "data": "noProg", "targets": 0 },
            { "name": "Ejemplar", "data": "ejemplar", "targets": 1 },
            {
                "name": "TipoSoporte",
                "data": null,
                "targets": 2,
                "render": function (data, type, row) {
                    return row.claveSoporte + '-' + row.consecutivo + '/' + row.anio;
                }
            },
            { "name": "Titulo", "data": "titulo", "targets": 3 },
            { "name": "Autor", "data": "autor", "targets": 4 },
            { "name": "Tema", "data": "tema", "targets": 5 },
            { "name": "Editorial", "data": "editorial", "targets": 6 },
            { "name": "Anio", "data": "anio", "targets": 7 },
            { "name": "IsbnIssn", "data": "isbnIssn", "targets": 8 },
            { "name": "Paginas", "data": "paginas", "targets": 9 },
            { "name": "Volumen", "data": "volumen", "targets": 10 },
        ];
        function showAlert() {
            setTimeout(function () {
                $("#alerta").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#alerta").remove();
            }, 6000);
        }
        function imprimirElemento() {
            var ventana = window.open('', 'PRINT', 'height=600,width=800');
            ventana.document.write('<html><head><title>InventarioBibliohemerografico_id' + idInv + '</title><link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">');
            ventana.document.write('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">');
            ventana.document.write('<style type="text/css">@@page { size: landscape; margin: 20px;} body: {counter-reset: page,pages;}#mainTable{page-break-before: always;}table thead{counter-increment:page;}#mainHeader .pageHeader::before {counter-increment: pages;content: "Hoja " counter(page);}#mainHeader .pageHeader::after {content: " de " counter(pages) " del inventario";}</style></head><body style="font-size:10px !important;">');
            ventana.document.write('<table style="font-size:10px;width:100%;" id="mainTable"><thead id="mainHeader" style="display: table-header-group;"><tr><th colspan="11"><table style="font-size:10px;"><tr><th width="38%"><img src="../img/encab2021.png" style="width: 100%; height:100%;" /></th><th style="text-align: right;"><label style="text-align: right;">SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />DEPARTAMENTO DE UNIDADES DOCUMENTALES</label></th></tr></table></th>');
            ventana.document.write('<tr><th colspan="11" style="text-align:center;padding:10px;"><label>Inventario de acervo blibliohemerográfico</label></th></tr>');
            ventana.document.write('<tr><th colspan="11" style="text-align:right;padding:5px;"><span class="pageHeader"></span></th></tr>');
            ventana.document.write('<tr><th colspan="11"><table width="100%" style="font-size:10px;"><tr><th><label>Nombre de la Unidad Administrativa: </label></th><th><label>' + $('#unidadAdministrativa').text() + '</label></th></tr><tr><th><label for="felaboracion_inventario">Fecha de elaboración del inventario: ' + $('#felaboracion_inventario_biblio').text() + '</label></th><th><label>Fecha de transferencia: ' + $("#ftransferencia_biblio").text() + '</label></th></tr><tr><th><label>Nombre del responsable del archivo de trámite: </label></th><th><label>' + $("#responsableArchivo").text() + '</label></th></tr></table></th></tr>');
            ventana.document.write('<tr><th>No. Prog.</th><th>No. Ejem.</th><th>Tipo de Soporte</th><th>Título del Libro</th><th>Nombre del Autor</th><th>Tema</th><th>Editorial</th><th>Año</th><th>ISBN/ISSN</th><th>No. Pág.</th><th>No. Volumen</th></tr></thead>');
            ventana.document.write('<tbody>');
            var tableId = document.getElementById('tableExpBiblio');
            var tBody = tableId.getElementsByTagName('tbody')[0];
            var tableRow = tBody.getElementsByTagName('tr');
            for (var t = 0; t < tableRow.length; t++) {
                ventana.document.write('<tr>' + tableRow[t].innerHTML + '</tr>');
            }
            //for (var t = 0; t < 160; t++) {
            //    ventana.document.write('<tr>' + tableRow[0].innerHTML + '</tr>');
            //}
            ventana.document.write('<tr><th colspan="11">&nbsp;</th></tr>');
            ventana.document.write('<tr><th colspan="11"><table id="table" class="text-center" style="font-size:10px;width:100%;font-size:10px;"><thead><tr><td style="width: 25%">Responsable de la custodia</td><td style="width: 25%">Entrega</td><td style="width: 25%">Recibe Responsable del Archivo de Concentración</td><td style="width: 25%">Vo.Bo. del Departamento de Unidades Documentales</td></tr><tr><td><br /><br /><br /><br />______________________________</td><td><br /><br /><br /><br />______________________________</td><td><br /><br /><br /><br />______________________________</td><td><br /><br /><br /><br />______________________________</td></tr><tr><td>Nombre y firma</td><td>Nombre y firma</td><td>Nombre y firma</td><td>Nombre y firma</td></tr></thead></table></th></tr>');
            ventana.document.write('</tbody>');
            ventana.document.write('</table></body>');
            ventana.document.write('</html>');
            ventana.document.close();
            ventana.focus();
            ventana.print();
            ventana.close();
            return true;
        }
        setTimeout(function () {
            imprimirElemento();
        }, 2000);
    </script>
}