<a class="btn btn-primary" target="_self" href="@Url.Action("Index","Catalogos")" title="Catálogo de Serie Documental">
    Catálogo Serie Documental
</a>
<a class="btn btn-primary" target="_self" href="@Url.Action("Areas","Catalogos")" title="Catálogo de Áreas">
    Catálogo Áreas
</a>