<a class="btn btn-sm btn-primary" target="_self" href="@Url.Action("Index","Catalogos")" title="Catálogo de Serie Documental">
    Catálogo Serie Documental
</a>
<a class="btn btn-sm btn-primary" target="_self" href="@Url.Action("Areas","Catalogos")" title="Catálogo de Áreas">
    Catálogo Áreas
</a>
<a class="btn btn-sm btn-primary" target="_self" href="@Url.Action("Puestos","Catalogos")" title="Catálogo de Puestos">
    Catálogo Puestos
</a>
<a class="btn btn-sm btn-primary" target="_self" href="@Url.Action("Usuarios","Catalogos")" title="Catálogo de Usuarios">
    Catálogo Usuarios
</a>