@{
    ViewData["Title"] = "Carátula";
}
@********************************************************************************************************************************************************************@
@*Formulario para la carátula de expediente*@
<div class="row">
    <div class="col-md-5 center-block">
        <img src="../img/encab2021.png" class="img-responsive" />
    </div>
    <div class="col-md-7">
        <h6 class="text-right">
            SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />
            COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />
            DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />
            DEPARTAMENTO DE UNIDADES DOCUMENTALES
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Carátula de descripción del expediente</h3>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label class="control-label">Nombre de la Unidad administrativa productora de la documentación:</label>
    </div>
    <div class="col-sm-8">
        <label class="form-control">Unidad administrativa ligada al usuario en sesión</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5 class="text-center">Datos de la Clave de clasificación por asunto</h5>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label class="control-label">Fondo:</label>
    </div>
    <div class="col-sm-8">
        <label class="form-control">CONAVI</label>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label class="control-label">Sección, serie y subserie documental:</label>
    </div>
    <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="2S.8" />
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label class="control-label">Clave de clasificación completa:</label>
    </div>
    <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="2S.8-02/2019" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h5 class="text-center">Datos del expediente</h5>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3">
        <label class="control-label">Título del expediente:</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" placeholder="Solicitud del Órgano Interno de Control sobre la información de la evidencia documental del Único Trámite de Servicios. Adhesión de Entidades Ejecutoras al Programa de Acceso al Financiamiento para soluciones Habitacionales y solicita el estatus de la digitalización del trámite." />
    </div>
</div>
<div class="row form-group datepicker-group">
    <div class="col-sm-3">
        <label class="control-label">Fecha del primer documento del expediente:</label>
    </div>
    <div class="col-sm-3">
        <input type="text" id="fprimer_documento" class="form-control" placeholder="10 de julio de 2019" />
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </div>
    <div class="col-sm-3">
        <label class="control-label">Fecha del último documento del expediente:</label>
    </div>
    <div class="col-sm-3">
        <input type="text" id="fultimo_documento" class="form-control" placeholder="18 de julio de 2019" />
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-3">
        <label class="control-label">Número de fojas por expediente o legajo:</label>
    </div>
    <div class="col-sm-3">
        <input type="number" class="form-control" min="0" value="9" />
    </div>
    <div class="col-sm-3">
        <label class="control-label">Número de legajo:</label>
    </div>
    <div class="col-sm-3">
        <input type="number" class="form-control" min="0" value="1" />
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-3">
        <label class="control-label">Cantidad de documentos:</label>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Originales:</label>
            </div>
            <div class="col-sm-6">
                <input type="number" class="form-control" min="0" value="2" />
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Copias:</label>
            </div>
            <div class="col-sm-6">
                <input type="number" class="form-control" min="0" value="7" />
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Cantidad de Cd´s:</label>
            </div>
            <div class="col-sm-6">
                <input type="number" class="form-control" min="0" value="0" />
            </div>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Valores de la serie documental que indica el Catálogo de disposición documental (A= administrativo; L=legal; F= fiscal y C=contable).</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <p>Administrativo</p>
                <input type="text" class="form-control" placeholder="X" />
            </div>
            <div class="col-sm-4">
                <p>Legal</p>
                <input type="text" class="form-control" placeholder="..." />
            </div>
            <div class="col-sm-4">
                <p>Contable/Fiscal</p>
                <input type="text" class="form-control" placeholder="..." />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Número de años de conservación en los diferentes tipos de archivos que se indica en el Catálogo de disposición documental (AT= archivo trámite y AC= archivo concentración).</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                <p>Tramite</p>
                <input type="number" class="form-control" min="0" value="2" />
            </div>
            <div class="col-xs-6">
                <p>Concentración</p>
                <input type="number" class="form-control" min="0" value="3" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Técnicas de selección de la documentación (E= eliminación; C=conservación y M= muestreo)</label>
                <input type="text" class="form-control" placeholder="C" />
                <input type="text" class="form-control" placeholder="Histórico" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5 class="text-center">Carácter de la información</h5>
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-3">
        <label class="control-label">Pública</label>
        <input type="text" class="form-control" placeholder="X" />
    </div>
    <div class="col-xs-3">
        <label class="control-label">Confidencial</label>
        <input type="text" class="form-control" placeholder="..." />
    </div>
    <div class="col-xs-6">
        <label class="control-label">Reservada cuando surja de una solicitud de información</label>
        <input type="text" class="form-control" placeholder="..." />
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <h5 class="text-center">Descripción del asunto o asuntos contenidos en el expediente:</h5>
        <textarea class="form-control" rows="3" placeholder="El expediente contiene la Evidencia documental del url de la implementación de los certificados SSL en el formulario web (Cédula de registro del procesp del Programa de Acceso al Financiamiento para Soluciones Habitacionales). Así como, oficio OIC/QCW.8/262/2019, con fecha 10 de julio de 2019, donde el OIC, solicita enviar la evidencia documental del "Único trámite de servicios en la CONAVI", adhesión de Entidades Ejecutoras al Programa de Acceso al Financiamiento para Soluciones Habitacionales, dentro de la incorporación a Estrategia Digital..."></textarea>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <h5 class="text-center">Clasificación y desclasificación de la información (ESTOS APARTADOS SÓLO SE LLENAN EN CASO DE QUE UN EXPEDIENTE HAYA SIDO SOLICITADO PARA DAR RESPUESTA A UNA SOLICITUD DE INFORMACIÓN DEL INAI)</h5>
    </div>
</div>
<div class="row form-group datepicker-group">
    <div class="col-xs-3">
        <label for="fclasificacion_expediente">Fecha de clasificación:</label>
        <input type="text" id="fclasificacion_expediente" class="form-control" />
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3">
        <label class="control-label">Periodo de reserva:</label>
        <input type="text" class="form-control" placeholder="..." />
    </div>
    <div class="col-xs-6">
        <label class="control-label">Fundamento legal:</label>
        <input type="text" class="form-control" placeholder="..." />
    </div>
</div>
<div class="row form-group datepicker-group">
    <div class="col-sm-3">
        <label class="control-label">Ampliación del periodo de reserva:</label>
        <input type="text" class="form-control" placeholder="..." />
    </div>
    <div class="col-sm-3">
        <label for="fdesclasificacion_expediente">Fecha de desclasificación:</label>
        <input type="text" id="fdesclasificacion_expediente" class="form-control" />
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </div>
    <div class="col-sm-3">
        <label class="control-label">Nombre, rúbrica y cargo del servidor público que desclasifica.</label>
        <input type="text" class="form-control" placeholder="..." />
    </div>
    <div class="col-sm-3">
        <label class="control-label">Indicar las partes o secciones reservadas o confidenciales que se están reservando.</label>
        <input type="text" class="form-control" placeholder="..." />
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-6">
        <label class="control-label">Nombre y rúbrica del titular de la Unidad Administrativa en caso de clasificar la información</label>
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="..." />
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Datos topográficos (ubicación física del expediente)</label>
            </div>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="..."></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Nombre de quien hace la captura  de esta carátula</label>
            </div>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="María Luisa Negrete Gaytán"></textarea>
            </div>
        </div>
    </div>
</div>
@*Fin del formulario de carátula de expediente*@
<hr />

<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#fprimer_documento, #fultimo_documento, #fclasificacion_expediente, #fdesclasificacion_expediente').datepicker();
    });
</script>