@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Depuración preliminar";
}
@*formulario de la bitácora de depuración preliminar*@
<div class="row form-group">
    <div class="col-md-12">
        <h3 class="text-center">Bitácora de depuración preliminar por documentación de comprobación administrativa inmediata</h3>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-8">
        <label class="control-label">Nombre de la Unidad Administrativa:</label>
        <label class="form-control">Aquí aparecerá la unidad administrativa ligada al usuario</label>
    </div>
    <div class="col-md-4 datepicker-group">
        <label for="finicio_depuracion">Fecha de inicio de la depuración:</label>
        <input type="text" id="finicio_depuracion" class="form-control" />
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-8">
        <label class="control-label">Nombre del responsable del archivo de trámite:</label>
        <label class="form-control">Aquí aparecerá el nombre del responsable</label>
    </div>
    <div class="col-md-4">
        <label>Número de cajas:</label>
        <input type="number" class="form-control" min="1" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default btn-md pull-right">Guardar</button>
        <button class="btn btn-default btn-md" data-toggle="modal" data-target="#modalExpediente">Agregar Expediente</button>
    </div>
</div>
@*formulario de registro de la bitácora de depuración preliminar*@
<!-- Modal -->
<div class="modal fade" id="modalExpediente" tabindex="-1" role="dialog" aria-labelledby="modalExpediente" style="z-index:1041">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alta de expediente para depuración</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Nombre o título del expediente:</label>
                        <input type="text" class="form-control" placeholder="nombre o título del expediente..." />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Periodo de los documentos:</label>
                        <input type="text" class="form-control" placeholder="periodo de los documentos..." />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <h5 class="text-center">Criterios para la Depuración Preliminar</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <h5 class="text-center">Criterio 1 Duplicados:</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Criterio 2 Copias fotostaticas NO generadas por la Unidad Administrativa y copias de conocimiento:
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Criterio 3 Documentos sin firma autografa:
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Criterio 4 Borradores de escritos:
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Criterio 5 Comunicaciones informales:
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Criterio 6 Acontecimiento informativo:
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Criterio 7 Documentos de carácter temporal:
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Criterio 8 Formatos en blanco:
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Copia:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Original:</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
<div class="row table-responsive">
    <div class="col-md-12">
        <form id="formTable">
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th rowspan="3">
                            No. Prog.
                        </th>
                        <th rowspan="3">
                            Nombre o título del expediente
                        </th>
                        <th rowspan="3">
                            Periodo de los documentos
                        </th>
                        <th colspan="18">
                            Criterios para la Depuración Preliminar
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Criterio 1<br />Duplicados
                        </th>
                        <th colspan="2">
                            Criterio 2<br />Copias fotostatica NO generadas por la Unidad Administrativa y copias de conocimiento
                        </th>
                        <th colspan="2">
                            Criterio 3<br />Documentos sin firma autografa
                        </th>
                        <th colspan="2">
                            Criterio 4<br />Borradores de escritos
                        </th>
                        <th colspan="2">
                            Criterio 5<br />Comunicaciones informales
                        </th>
                        <th colspan="2">
                            Criterio 6<br />Acontecimiento informativo
                        </th>
                        <th colspan="2">
                            Criterio 7<br />Documentos de carácter temporal
                        </th>
                        <th colspan="2">
                            Criterio 8<br />Formatos en blanco
                        </th>
                        <th colspan="2">
                            Total de Documentos a depurar
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                        <th>
                            Copia
                        </th>
                        <th>
                            Original
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1

                        </td>
                        <td>
                            9C.3-01/2006
                        </td>
                        <td>
                            Contrato con "Radio y televisión de Aguascalientes" para realizar campañas publicitarias de la CONAVI
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            9C.3-02/2006
                        </td>
                        <td>
                            Contrato con "Radio y televisión de Aguascalientes" para realizar la producción de material audiovisual para el Premio Nacional de Vivienda
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            9C.1-01/2007
                        </td>
                        <td>
                            Acuerdo por el que se establecen los Lineamientos Generales para la orientación,planeación, autorización, coordinación, supervición y evaluación de las estrategias, programas y las campañas de Comunicación Social.
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            15
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@*fin del formulario de la bitácora de depuración preliminar*@
@*fin del formulario de la bitácora de depuración preliminar*@

<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#finicio_depuracion').datepicker();
    });
</script>