@{
    ViewData["Title"] = "Inventario";
}
@********************************************************************************************************************************************************************@
@*Formulario para el el Inventario de Transferencia Primaria al Archivo de Concentración*@
<div class="row">
    <div class="col-md-5 center-block">
        <img src="../img/encab2021.png" class="img-responsive" />
    </div>
    <div class="col-md-7 text-right">
        <label>
            SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />
            COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />
            DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />
            DEPARTAMENTO DE UNIDADES DOCUMENTALES
        </label>
    </div>
</div>
<br />
<div class="row form-group">
    <div class="col-md-12 text-center">
        <label>
            Inventario para el control del acervo documental en los archivos de trámite
        </label>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-4">
        <label class="control-label">Nombre de la Unidad Administrativa generadora:</label>
    </div>
    <div class="col-md-8">
        <label class="form-control">Aquí aparecerá la unidad administrativa ligada al usuario</label>
    </div>
</div>
<div class="row form-group datepicker-group">
    <div class="col-md-4">
        <label class="control-label">Nombre del responsable del archivo de trámite:</label>
    </div>
    <div class="col-md-8">
        <label class="form-control">Aquí aparecerá el nombre del responsable</label>
    </div>
</div>
<div class="row form-group datepicker-group">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label for="felaboracion_inventario">Fecha de elaboración del inventario:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="felaboracion_inventario" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label for="ftransferencia_archivo">Fecha de la entrega:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="ftransferencia_archivo" class="form-control" />
            </div>
            <div class="col-md-12">
                <p class="help-block"><small>En caso de una entrega-recepción se anota la última fecha del documento</small></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="formTable">
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th rowspan="2">
                            No. Prog.
                        </th>
                        <th rowspan="2">
                            Cve del Expediente
                        </th>
                        <th rowspan="2">
                            Nombre del Expediente
                        </th>
                        <th rowspan="2">
                            No. de Legajos
                        </th>
                        <th colspan="2">
                            <center>Fecha de los documentos</center>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Primero (antiguo)
                        </th>
                        <th>
                            Último (reciente)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            9C.3-01/2006
                        </td>
                        <td>
                            Contrato con "Radio y televisión de Aguascalientes" para realizar campañas publicitarias de la CONAVI
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            14/05/2019
                        </td>
                        <td>
                            26/08/2019
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            9C.3-02/2006
                        </td>
                        <td>
                            Contrato con "Radio y televisión de Aguascalientes" para realizar la producción de material audiovisual para el Premio Nacional de Vivienda
                        </td>
                        <td>
                            4
                        </td>
                        <td>
                            07/01/2020
                        </td>
                        <td>
                            12/10/2021
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            9C.1-03/2007
                        </td>
                        <td>
                            Acuerdo por el que se establecen los Lineamientos Generales para la orientación,planeación, autorización, coordinación, supervición y evaluación de las estrategias, programas y las campañas de Comunicación Social.
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            30/05/2008
                        </td>
                        <td>
                            30/05/2008
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="formTable">
            <table id="table" class="table text-center">
                <thead>
                    <tr>
                        <td style="width: 33%">
                            Entrega
                        </td>
                        <td style="width: 33%">
                            Responsable de la custodia
                        </td>
                        <td style="width: 34%">
                            Recibe
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nombre y firma
                        </td>
                        <td>
                            Nombre y firma
                        </td>
                        <td>
                            Nombre y firma
                        </td>
                    </tr>
                    <tr>
                        <td><br /><br /><br /><br /></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
            </table>
        </form>
    </div>
</div>
@*Fin del formulario para el alta de expediente*@
<hr />
