@{
    ViewData["Title"] = "Inventario";
}
@********************************************************************************************************************************************************************@
@*Formulario para el el Inventario de Transferencia Primaria al Archivo de Concentración*@
<div class="row">
    <div class="col-md-5 center-block">
        <img src="../img/encab2021.png" class="img-responsive"/>
    </div>
    <div class="col-md-7">
        <h6 class="text-right">
            SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />
            COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />
            DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />
            DEPARTAMENTO DE UNIDADES DOCUMENTALES
        </h6>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <h3 class="text-center">Inventario de Transferencia Primaria al Archivo de Concentración</h3>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Nombre de la Unidad Administrativa:</label>
            </div>
            <div class="col-md-6">
                <label class="form-control">Aquí aparecerá la unidad administrativa ligada al usuario</label>
            </div>
        </div>
    </div>
</div>
<div class="row form-group datepicker-group">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label for="felaboracion_inventario">Fecha de elaboración del inventario:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="felaboracion_inventario" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label for="ftransferencia_archivo">Fecha de transferencia al Archivo de Concentración:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="ftransferencia_archivo" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label class="control-label">Nombre del responsable del archivo de trámite:</label>
    </div>
    <div class="col-md-6">
        <label class="form-control">Aquí aparecerá el nombre del responsable</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="formTable">
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th>
                            No. Prog.
                        </th>
                        <th>
                            Cve del Expediente
                        </th>
                        <th>
                            Nombre del Expediente
                        </th>
                        <th>
                            Periodo
                        </th>
                        <th>
                            Cantidad en años de resguardo en el archivo de concentración
                        </th>
                        <th>
                            No. de Legajos
                        </th>
                        <th>
                            No. de Fojas
                        </th>
                        <th>
                            Observaciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                            
                        </td>
                        <td>
                            9C.3-01/2006
                        </td>
                        <td>
                            Contrato con "Radio y televisión de Aguascalientes" para realizar campañas publicitarias de la CONAVI
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            9C.3-02/2006
                        </td>
                        <td>
                            Contrato con "Radio y televisión de Aguascalientes" para realizar la producción de material audiovisual para el Premio Nacional de Vivienda
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            9C.1-01/2007
                        </td>
                        <td>
                            Acuerdo por el que se establecen los Lineamientos Generales para la orientación,planeación, autorización, coordinación, supervición y evaluación de las estrategias, programas y las campañas de Comunicación Social.
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            15
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="formTable">
            <table id="table" class="table text-center">
                <thead>
                    <tr>
                        <td style="width: 25%">
                            Responsable de la custodia
                        </td>
                        <td style="width: 25%">
                            Entrega
                        </td>
                        <td style="width: 25%">
                            Recibe Responsable del Archivo de Concentración
                        </td>
                        <td style="width: 25%">
                            Vo.Bo. del Departamento de Unidades Documentales
                        </td>
                    </tr>
                    <tr>
                        <td><br /><br /><br /><br /></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Nombre y firma
                        </td>
                        <td>
                            Nombre y firma
                        </td>
                        <td>
                            Nombre y firma
                        </td>
                        <td>
                            Nombre y firma
                        </td>
                    </tr>
                </thead>
            </table>
        </form>
    </div>
</div>
@*Fin del formulario para el alta de expediente*@
<hr />
