@{
    ViewData["Title"] = "Formato No Expedientable";
}
@********************************************************************************************************************************************************************@
@*formulario de documentacion no expedientable*@
<div id="general">
    <div class="row">
        <div class="col-md-12">
            <table>
                <tbody>
                    <tr>
                        <th style="width: 40%;">
                            <img src="../img/encab2021.png" style="width: 100%; height:100%;" />
                        </th>
                        <th style="width: 70%; text-align: right;">
                            <label style="text-align: right;">
                                SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />
                                COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />
                                DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />
                                DEPARTAMENTO DE UNIDADES DOCUMENTALES
                            </label>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <label>Inventario de Documentación no Expedientable transferible al Archivo de Concentración</label>
        </div>
    </div>
    <table width="100%">
        <tr>
            <th>
                <label class="control-label">Nombre de la Unidad Administrativa generadora:</label>
            </th>
            <th>
                <label class="form-control" id="unidadAdministrativa"></label>
            </th>
        </tr>
        <tr>
            <th>
                <label for="felaboracion_inventario_nexp">Fecha de Elaboración del Inventario:</label>
            </th>
            <th>
                <label id="felaboracion_inventario_nexp" class="form-control"></label>
            </th>
        </tr>
    </table>
    @*<div class="row form-group">
        <div class="col-md-8">
            <label class="control-label">Nombre de la Unidad Administrativa generadora:</label>
            <label class="form-control" id="unidadAdministrativa">Aquí aparecerá la unidad administrativa ligada al usuario</label>
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="felaboracion_inventario_nexp">Fecha de Elaboración del Inventario:</label>
            <label id="felaboracion_inventario_nexp" class="form-control"></label>
        </div>
    </div>*@
    <div class="row form-group">
        <div class="col-md-8">
            <label class="control-label">Nombre del responsable del archivo de trámite:</label>
            <label class="form-control" id="responsableArchivo">Aquí aparecerá el nombre del responsable</label>
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="ftransferencia_inventario">Fecha de transferencia:</label>
            <label id="ftransferencia_inventario" class="form-control"></label>
        </div>
    </div>
    @*Tabla de expedientes de documentacion no expedientabale*@
    <div class="row">
        <div class="col-md-12">
            <form id="formTable">
                <table id="tableExpNo" class="table">
                    <thead>
                        <tr>
                            <th>
                                No. Prog.
                            </th>
                            <th>
                                Cve. Tipo de Soporte
                            </th>
                            <th>
                                Clave Interna
                            </th>
                            <th>
                                No. de Partes
                            </th>
                            <th>
                                Título del Expediente
                            </th>
                            <th>
                                Fecha de Elaboración
                            </th>
                            <th>
                                Observaciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="formTable">
                <table id="table" class="table text-center">
                    <thead>
                        <tr>
                            <td style="width: 25%">
                                Responsable de la custodia
                            </td>
                            <td style="width: 25%">
                                Entrega
                            </td>
                            <td style="width: 25%">
                                Recibe Responsable del Archivo de Concentración
                            </td>
                            <td style="width: 25%">
                                Vo.Bo. del Departamento de Unidades Documentales
                            </td>
                        </tr>
                        <tr>
                            <td><br /><br /><br /><br /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Nombre y firma
                            </td>
                            <td>
                                Nombre y firma
                            </td>
                            <td>
                                Nombre y firma
                            </td>
                            <td>
                                Nombre y firma
                            </td>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="col-md-12">
            <form id="formTable_tipos">
                <table id="table_tipos" class="table text-left" style="font-weight: bold; font-size: 70%;">
                    <tbody>
                        <tr>
                            <td style="width: 25%; text-align:center; vertical-align:middle;">
                                Tipos documentales
                            </td>
                            <td style="width: 75%">
                                1. Estudios, 2. Proyectos, 3. Investigaciones, 4. Manuales, 5. Presupuestos, 6. Estadísticas, 7. Fotografías, 8. Programas, 9. Planos, 10. Material cartográfico. 11 Informes, 12. Carpetas de Juntas de Gobierno,13. Actas administrativas, 14. Carpetas de Comités, 15. Carpetas de entrega-recepción.
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%; text-align: center">
                                CLAVE:
                            </td>
                            <td style="width: 75%; text-align:center;">
                                TIPO DE SOPORTE:
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%">
                                a) Microfilm:
                            </td>
                            <td style="width: 75%">
                                1.Rollos, 2. Magazines, 3. Carteras de plástico, 4. Micro fichas, 5. Tarjetas de apertura
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%; vertical-align: middle;">
                                b) Audiovisuales:
                            </td>
                            <td style="width: 75%">
                                1. Videocasetes, 2. Fonocasetes, 3. Corto metraje, 4. Diapositiva, 5. Negativos, 6. Acetatos, 7. Filminas, 8. Discos ópticos, 9. Discos compactos, 10. Formato comprimido MP3, 11. Minidisco, 12. Cintas de carrete abierto, 13. Audiocasetes
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%">
                                c) Materiales de computo:
                            </td>
                            <td style="width: 75%">
                                1. Cintas magnéticas, 2. Disquetes, 3. Tarjetas perforadas, 4. Discos magnéticos, 5. Tambores magnéticos, 6. Discos compactos.
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%">
                                d) Papel:
                            </td>
                            <td style="width: 75%">
                                1. Papel bond, 2. Papel laminado, 3. Papel reciclable, 4. Cartulina.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</footer>
@*fin del formulario de expediente de documentacion no expedientable*@
@*fin del formulario de documentacion no expedientable*@
<hr />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        const urlParams = new URLSearchParams(window.location.search);
        const idInv = urlParams.get('id');
        $(document).ready(function () {
            showAlert();
            $.ajax({
                url: "@Url.Action("GetInventarioControlById", "InventarioControl")", // Url
                data: {
                    // Datos / Parámetros
                    Id: idInv
                },
                type: "post"  // Verbo HTTP
            }).done(function (result) {
                if (result.id != null) {
                    $('#unidadAdministrativa').text(result.nombreUnidadAdministrativa);
                    $('#responsableArchivo').text(result.nombreResponsableAT);
                    $('#felaboracion_inventario_nexp').text(result.fechaElaboracion != null ? result.fechaElaboracion.substring(8, 10) + '/' + result.fechaElaboracion.substring(5, 7) + '/' + result.fechaElaboracion.substring(0, 4) : '');
                    $('#ftransferencia_inventario').text(result.fechaTransferencia != null ? result.fechaTransferencia.substring(8, 10) + '/' + result.fechaTransferencia.substring(5, 7) + '/' + result.fechaTransferencia.substring(0, 4) : '');

                    var urlTipo = "";
                    urlTipo = "/NoExpedientable/GetExpedientesNoExpedientablesByIdInv";
                    table = $('#tableExpNo').DataTable({
                        "proccessing": true,
                        "serverSide": false,
                        "ajax": {
                            url: urlTipo,
                            data: { Id : idInv },
                            type: 'POST',
                            headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                            complete: function () {
                                $("#spinner").hide();
                            }
                        },
                        "columnDefs": columns,
                        "order": [[0, "desc"]],
                        "autoWidth": true,
                        "destroy": true,
                        "scrollY": true,
                        "scrollCollapse": true,
                        "paging": false,
                        "searching": false,
                        "info": false,
                        "scrollX": true,
                        "fixedColumns": true,
                        "ordering": false,
                        "language": {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            }
                        }
                    });
                } else {
                    $("#alertAjax").append(result);
                    showAlert();
                }
            })
            // Se ejecuta si se produjo un error.
            .fail(function (xhr, status, error) {
                // Mostramos un mensaje de error.
                //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                // Escondemos el Ajax Loader
                //$("#AjaxLoader").hide("slow");

                // Habilitamos el botón de Submit
                //$("#SubmitBtn").prop("disabled", false);
            })
            // Hacer algo siempre, haya sido exitosa o no.
            .always(function () {

            });
            //imprimirElemento();
        });
        var columns = [
            { "name": "NoProg", "data": "noProg", "targets": 0 },
            //{ "name": "Clave", "data": "clave", "targets": 1 },
            {
                "name": "Clave",
                "data": null,
                "targets": 1,
                "render": function (data, type, row) {
                    return (row.idTipoDocumental != null && row.codigo != null) ? row.idTipoDocumental + '-' + row.codigo : "";
                }
            },
            {
                "name": "ClaveInterna",
                "data": null,
                "targets": 2,
                "render": function (data, type, row) {
                    //var fprimero = new Date(row.fechaElaboracion);
                    //return row.claveInterna + "-" + row.noProg + "/" + fprimero.getFullYear();
                    return row.clave + "-" + row.consecutivo + "/" + row.periodo;
                }
            },
            {
                "name": "Partes",
                "data": null,
                "targets": 3,
                "render": function (data, type, row) {
                    return row.noPartes != null ? row.noPartes : "";
                }
            },
            { "name": "Nombre", "data": "nombre", "targets": 4 },
            {
                "name": "FechaElaboracion",
                "data": null,
                "targets": 5,
                "render": function (data, type, row) {
                    var fprimero = new Date(row.fechaElaboracion);
                    var month = fprimero.getMonth() + 1;
                    var day = fprimero.getDate();
                    //return ((day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + fprimero.getFullYear());
                    return fprimero.getFullYear();
                }
            },
            { "name": "Observaciones", "data": "observaciones", "targets": 6 },
        ];
        function showAlert() {
            setTimeout(function () {
                $("#alerta").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#alerta").remove();
            }, 6000);
        }
        function imprimirElemento() {
            var element = document.getElementById("general");
            var ventana = window.open('', 'PRINT', 'height=600,width=800');
            ventana.document.write('<html><head><title>InventarioNoExpedientable_id' + idInv +'</title><link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">');
            ventana.document.write('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">');
            ventana.document.write('<style type="text/css">@@page { size: landscape; margin: 20px;} body: {counter-reset: page,pages;} #mainTable{page-break-before: always;}table thead{counter-increment:page;}#mainHeader .pageHeader::before {counter-increment: pages;content: "Hoja " counter(page);}#mainHeader .pageHeader::after {content: " de " counter(pages) " del inventario";}</style></head><body style="font-size:10px !important;">');
            ventana.document.write('<table style="font-size:10px;width:100%;" id="mainTable"><thead id="mainHeader" style="display: table-header-group;"><tr><th colspan="7"><table style="font-size:10px;"><tr><th width="38%"><img src="../img/encab2021.png" style="width: 100%; height:100%;" /></th><th style="text-align: right;"><label style="text-align: right;">SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />DEPARTAMENTO DE UNIDADES DOCUMENTALES</label></th></tr></table></th>');
            ventana.document.write('<tr><th colspan="7" style="text-align:center;padding:10px;"><label>Inventario de Documentación no Expedientable transferible al Archivo de Concentración</label></th></tr>');
            ventana.document.write('<tr><th colspan="7" style="text-align:right;padding:5px;"><span class="pageHeader"></span></th></tr>');
            ventana.document.write('<tr><th colspan="7"><table width="100%" style="font-size:10px;"><tr><th><label>Nombre de la Unidad Administrativa generadora: </label></th><th><label>' + $('#unidadAdministrativa').text() + '</label></th></tr><tr><th><label for="felaboracion_inventario_nexp">Fecha de Elaboración del Inventario: ' + $('#felaboracion_inventario_nexp').text() + '</label></th><th><label>Fecha de transferencia: ' + $("#ftransferencia_inventario").text() + '</label></th></tr><tr><th><label>Nombre del responsable del archivo de trámite: </label></th><th><label>' + $("#responsableArchivo").text() +'</label></th></tr></table></th></tr>');
            ventana.document.write('<tr><th><label>No. Prog.</label></th><th><label>Clave tipo de soporte:</label></th><th><label>Clave interna</label></th><th><label>No. de partes</label></th><th><label>Título del expediente</label></th><th><label>Fecha de Elaboración</label></th><th><label>Observaciones</label></th></tr></thead>');
            //ventana.document.write('<tfoot style="display: table-footer-group;">');
            //ventana.document.write('</tfoot>');
            ventana.document.write('<tbody style="display:table-row-group;">');
            var tableId = document.getElementById('tableExpNo');
            var tBody = tableId.getElementsByTagName('tbody')[0];
            var tableRow = tBody.getElementsByTagName('tr');
            for (var t = 0; t < tableRow.length; t++) {
                ventana.document.write('<tr>' + tableRow[t].innerHTML + '</tr>');
            }
            //for (var t = 0; t < 60; t++) {
            //    ventana.document.write('<tr>' + tableRow[0].innerHTML + '</tr>');
            //}
            ventana.document.write('<tr><th colspan="7">&nbsp;</th></tr>');
            ventana.document.write('<tr><th colspan="7"><table id="table" class="text-center" style="font-size:10px;width:100%;font-size:10px;"><thead><tr><td style="width: 25%">Responsable de la custodia</td><td style="width: 25%">Entrega</td><td style="width: 25%">Recibe Responsable del Archivo de Concentración</td><td style="width: 25%">Vo.Bo. del Departamento de Unidades Documentales</td></tr><tr><td><br /><br /><br /><br />______________________________</td><td><br /><br /><br /><br />______________________________</td><td><br /><br /><br /><br />______________________________</td><td><br /><br /><br /><br />______________________________</td></tr><tr><td>Nombre y firma</td><td>Nombre y firma</td><td>Nombre y firma</td><td>Nombre y firma</td></tr></thead></table></th></tr>');
            ventana.document.write('<tr><td colspan="7"><table style="width:100%;font-size:8px;"><tr><td style="width: 25%; text-align:center; vertical-align:middle;">Tipos documentales</td><td style="width: 75%">1. Estudios, 2. Proyectos, 3. Investigaciones, 4. Manuales, 5. Presupuestos, 6. Estadísticas, 7. Fotografías, 8. Programas, 9. Planos, 10. Material cartográfico. 11 Informes, 12. Carpetas de Juntas de Gobierno,13. Actas administrativas, 14. Carpetas de Comités, 15. Carpetas de entrega-recepción.</td></tr><tr><td style="width: 25%; text-align: center">CLAVE:</td><td style="width: 75%; text-align:center;">TIPO DE SOPORTE:</td></tr><tr><td style="width: 25%">a) Microfilm:</td><td style="width: 75%">1.Rollos, 2. Magazines, 3. Carteras de plástico, 4. Micro fichas, 5. Tarjetas de apertura</td></tr><tr><td style="width: 25%; vertical-align: middle;">b) Audiovisuales:</td><td style="width: 75%">1. Videocasetes, 2. Fonocasetes, 3. Corto metraje, 4. Diapositiva, 5. Negativos, 6. Acetatos, 7. Filminas, 8. Discos ópticos, 9. Discos compactos, 10. Formato comprimido MP3, 11. Minidisco, 12. Cintas de carrete abierto, 13. Audiocasetes</td></tr><tr><td style="width: 25%">c) Materiales de computo:</td><td style="width: 75%">1. Cintas magnéticas, 2. Disquetes, 3. Tarjetas perforadas, 4. Discos magnéticos, 5. Tambores magnéticos, 6. Discos compactos.</td></tr><tr><td style="width: 25%">d) Papel:</td><td style="width: 75%">1. Papel bond, 2. Papel laminado, 3. Papel reciclable, 4. Cartulina.</td></tr></table></td></tr>');
            ventana.document.write('</tbody></table>');
            ventana.document.write('</body></html>');
            ventana.document.close();
            ventana.focus();
            ventana.print();
            ventana.close();
            return true;
        }
        setTimeout(function () {
            imprimirElemento();
        }, 2000);
    </script>
}