@model ConaviWeb.Model.Catalogo
@{
    ViewData["Title"] = "No Expedientable";
}
@********************************************************************************************************************************************************************@
@{
    @await Html.PartialAsync("../Expedientes/Botones");
}
<div class="row">
    <div class="col-md-12">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <h3 class="text-center">Inventario de Documentación no Expedientable transferible al Archivo de Concentración</h3>
    </div>
</div>
<div id="divAdd">
    @{
        @await Html.PartialAsync("../Expedientes/_AddInventarioNoExpedientable")
    }
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="formTable">
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th>
                            No. Prog.
                        </th>
                        <th>
                            Cve. Tipo de Soporte
                        </th>
                        <th>
                            Clave Interna
                        </th>
                        <th>
                            No. de Partes
                        </th>
                        <th>
                            Título del Expediente
                        </th>
                        <th>
                            Fecha de Elaboración
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </form>
    </div>
</div>
@*fin del formulario de documentacion no expedientable*@
@*<button id="btn_new_exp" class="btn btn-default btn-md" data-toggle="modal" data-target="#modalExpediente">Agregar Expediente</button>*@
<div id="addExpediente">
    @{
        @await Html.PartialAsync("../Expedientes/_AddExpedienteNoExpedientable")
    }
</div>
<!-- Modal Drop Expediente -->
<div class="modal fade fade-in" style="z-index:1041" id="showModalTrashExpediente" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_DropExpediente")
            }
        </div>
    </div>
</div>
<hr />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var table;
        $(document).ready(function () {
            showAlert();
            if ($("#hd_id_inventario").val() == 0) {
                //$("#formInsertInventarioNoExpedientable").show();
                $("#btn_new_exp").prop("disabled", true);
            }
            else {
                //$("#formInsertInventarioNoExpedientable").hide();
                $("#btn_new_exp").prop("disabled", false);
            }
            showTable();
            $('#showModalTrashExpediente').on('show.bs.modal', function (e) {
                var expId = $(e.relatedTarget).data('exp-id');
                $(e.currentTarget).find('#idExpediente').val(expId);
            });
        });
        function showTable() {
            var urlTipo = "";
            urlTipo = "/NoExpedientable/ExpedientesNoExpedientables";
            table = $('#table').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: urlTipo,
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    complete: function () {
                        $("#spinner").hide();
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": true,
                "destroy": true,
                "scrollY": '700px',
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }
        var columns = [
            { "name": "NoProg", "data": "noProg", "targets": 0},
            //{ "name": "Clave", "data": "clave", "targets": 1 },
            {
                "name": "Clave",
                "data": null,
                "targets": 1,
                "render": function (data, type, row) {
                    return (row.idTipoDocumental!=null && row.codigo!=null) ? row.idTipoDocumental + '-' + row.codigo : "";
                }
            },
            {
                "name": "ClaveInterna",
                "data": null,
                "targets": 2,
                "render": function (data, type, row) {
                    //var fprimero = new Date(row.fechaElaboracion);
                    //return row.claveInterna + "-" + row.noProg + "/" + fprimero.getFullYear();
                    return row.clave + "-" + row.noProg + "/" + row.periodo;
                }
            },
            {
                "name": "Partes",
                "data": null,
                "targets": 3,
                "render": function (data, type, row) {
                    return row.noPartes != null ? row.noPartes : "";
                }
            },
            { "name": "Nombre", "data": "nombre", "targets": 4 },
            {
                "name": "FechaElaboracion",
                "data": null,
                "targets": 5,
                "render": function (data, type, row) {
                    var fprimero = new Date(row.fechaElaboracion);
                    var month = fprimero.getMonth() + 1;
                    var day = fprimero.getDate();
                    return ((day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + fprimero.getFullYear());
                }
            },
            { "name": "Observaciones", "data": "observaciones", "targets": 6 },
            {
                "targets": 7,
                "data": null,
                "render": function (data, type, row, meta) {
                    var ret = '<a style="cursor:pointer;" class="gold" title="Carátula" href="CaratulaNoExpedientable?id=' + data.id + '" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>';
                    ret += (row.estatus == 'Revisión') ? '<span style="color: #b8925f;" title="Enviado a revisión" class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></a>' : '';
                    //if (row.esEditable == 'editable') {
                    //    ret += '<a data-exp-id=' + row.id +' class="gold" type="button" data-toggle="modal" data-target="#showModalTrashExpediente" style="font-size:20px;"><span style="cursor:pointer;" title="Eliminar" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                    //    ret += '<span style="cursor:pointer;" title="Enviar a revisión" class="gold glyphicon glyphicon-check" aria-hidden="true"></span>';
                    //}
                    return ret;
                },
                "sortable": false,
                "className": 'text-center'
            },
        ];
        function showAlert() {
            setTimeout(function () {
                $("#alerta").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#alerta").remove();
            }, 6000);
        }
    </script>
}