@model ConaviWeb.Model.User
@{
    ViewData["Title"] = "Catalogo de usuarios";
}
@{
    @await Html.PartialAsync("../Expedientes/BotonesCatalogos");
}
@*************************************************************************************************************************************************************@
@* Tabla de control para el catálogo de usuarios *@
<div class="row">
    <div class="col-md-12" id="alertAjax">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <h3 class="text-center">Catálogo de usuarios</h3>
    </div>
</div>
<hr />
<div id="divListaUsuarios">
    <div class="row">
        <div class="col-md-12">
            <form id="formTable">
                <table id="tableUsuarios" class="table">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Area
                            </th>
                            <th>
                                Cargo
                            </th>
                            <th>
                                Usuario
                            </th>
                            <th>
                                Número de empleado
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<br />
<button id="btn_add_usuario" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modalEdit">
    <span class="fa fa-plus"></span> Agregar usuario
</button>

<!-- Modal Update Usuario-->
<div class="modal fade fade-out" style="z-index:1041" id="modalEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_UpdateUsuario")
            }
        </div>
    </div>
</div>

<!-- Modal Activar Usuario -->
<div class="modal fade fade-out" style="z-index:1041" id="modalActivar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_ActivarUsuario")
            }
        </div>
    </div>
</div>

<!-- Modal Desactivar Usuario -->
<div class="modal fade fade-out" style="z-index:1041" id="modalDesactivar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_DesactivarUsuario")
            }
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var table;
        $(document).ready(function () {
            $("#spinner").hide();
            showAlert();
            showTable();
            $('#modalEdit').on('hidden.bs.modal', function (e) {
                $(this).find('#formUpdateUsuario')[0].reset();
                $(e.currentTarget).find('#idUsuario').val();
            });
            $('#modalActivar').on('show.bs.modal', function (e) {
                var userId = $(e.relatedTarget).data('user-id');
                $(e.currentTarget).find('#idUsuario').val(userId);
            });
            $('#modalDesactivar').on('show.bs.modal', function (e) {
                var userId = $(e.relatedTarget).data('user-id');
                $(e.currentTarget).find('#idUsuario').val(userId);
            });
            $('#modalEdit').on('show.bs.modal', function (e) {
                var userId = $(e.relatedTarget).data('user-id');
                if (!isNaN(userId)) {
                    $.ajax({
                        url: "@Url.Action("GetUsuario", "Catalogos")", // Url
                        data: {
                            // Datos / Parámetros
                            Id: userId
                        },
                        type: "post"  // Verbo HTTP
                    }).done(function (result) {
                        $('#idUsuario').val(result.id);
                        $('#lbl_name').val(result.name);
                        $('#lbl_papellido').val(result.lName);
                        $('#lbl_sapellido').val(result.slName);
                        $('#lbl_area option[value='+ result.idSystem +']').prop("selected", true);
                        $('#lbl_cargo option[value="'+ result.position +'"]').prop("selected", true);
                        $('#lbl_numEmpleado').val(result.employeeNumber);
                        $('#lbl_username').val(result.sUser);
                        $('#lbl_rfc').val(result.rfc);
                        $('#lbl_grado_academico').val(result.degree);
                        $('#lbl_email').val(result.email);
                        $('#slc_rol option[value=' + result.rol + ']').prop('selected', true);
                    })
                    // Se ejecuta si se produjo un error.
                    .fail(function (xhr, status, error) {
                        // Mostramos un mensaje de error.
                        //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                        // Escondemos el Ajax Loader
                        //$("#AjaxLoader").hide("slow");

                        // Habilitamos el botón de Submit
                        //$("#SubmitBtn").prop("disabled", false);
                    })
                    // Hacer algo siempre, haya sido exitosa o no.
                    .always(function () {

                    });
                    //$(e.currentTarget).find('#idSerie').val(bookId);
                }
            });
        });
        function showTable() {
            var urlTipo = "";
            urlTipo = "/Catalogos/ListaUsuarios";
            $("#spinner").show();
            //$("#divTable").show();
            table = $('#tableUsuarios').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: urlTipo,
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    complete: function () {
                        $("#spinner").hide();
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": false,
                "destroy": true,
                "scrollY": true,
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }
        var columns = [
            { "name": "Id", "data": "id", "targets": 0},
            { "name": "Nombre", "data": "name", "targets": 1 },
            { "name": "Area", "data": "signer", "targets": 2 },
            { "name": "Cargo", "data": "position", "targets": 3 },
            { "name": "Usuario", "data": "sUser", "targets": 4 },
            { "name": "NumEmpleado", "data": "employeeNumber", "targets": 5 },
            {
                "targets": 6,
                "data": null,
                "render": function (data, type, row, meta) {
                    var ret = '<a data-user-id="' + row.id +'" title="Editar" class="gold" data-toggle="modal" data-target="#modalEdit" style="cursor:pointer; font-size:20px;"><span class="fa fa-pencil-square-o"></span></a>';
                    if (row.active == 'SI') ret += '<br><a class="gold" data-user-id="' + row.id +'" title="Desactivar" data-toggle="modal" data-target="#modalDesactivar" style="cursor:pointer; font-size:20px;"><span class="fa fa-eye-slash"></span></a>';
                    else ret += '<br><a class="gold" data-user-id="' + row.id +'" data-toggle="modal" data-target="#modalActivar" style="cursor:pointer; font-size:20px;" title="Activar"><span class="fa fa-eye"></span></a>';
                    return ret;
                },
                "sortable": false,
                "className": 'text-center'
            },
        ];
        function showAlert() {
            setTimeout(function () {
                $("#alerta").fadeOut(1500);
            }, 6000);
            setTimeout(function () {
                $("#alerta").remove();
            }, 12000);
        }
    </script>
}