@{
    Layout = "_Layout";
    ViewData["Title"] = "Inicio";
}
<br />
<br />
<br />
<div class="form-group row">
    <div class="col-md-4">
        <div class="panel panel-default" style="height: 300px; width: 300px;">
            <div class="form-group row col-md-12" style="text-align:center"><h4>SISEVIVE</h4></div>
            <div class="panel-body">
                <div class="form-group row col-md-12"><a href="/Sisevive"><img src="/img/sisevive.png" alt="efirma" width="200" style="height:auto"></a></div>
                @*<div class="row col-md-12">@Html.ActionLink("SISEVIVE", "Index", "Sisevive")</div>*@
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="height: 300px; width: 300px;">
            <div class="form-group row col-md-12" style="text-align:center"><h4>Proceso E/D</h4></div>
            <div class="panel-body">
                <div class="form-group row col-md-12" style="text-align:right"><a href="/Login"><img src="/img/lock.png" alt="efirma" width="190" style="height:auto"></a></div>
                @*<div class="row col-md-12">@Html.ActionLink("Proceso E/D", "Index", "Login")</div>*@
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="height: 300px; width: 300px;">
            <div class="panel-body">
                <div class="form-group row col-md-12" style="text-align:center"><h4>Firma Electrónica</h4></div>
                <div class="form-group row col-md-12" style="text-align:right"><a href="https://firmaelectronica.conavi.gob.mx:9090/"><img src="/img/firma_.png" alt="efirma" width="210" style="height:auto"></a></div>
                @*<div class="row col-md-12"><a href="https://firmaelectronica.conavi.gob.mx:9090/"><span>Firma Electrónica</span></a></div>*@
            </div>
        </div>
    </div>
</div>