/* PivotTable */
.pvtRenderer,
.pvtAggregator,
.pvtAttrDropdown,
.pvtSearch {
    /*display: block;
    width: 100%;*/
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pvtSearch {
    margin-bottom: 5px;
}

.pvtRenderer:focus,
.pvtAggregator:focus,
.pvtAttrDropdown:focus,
.pvtSearch:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.pvtAxisContainer, .pvtVals {
    border-color: #ccc;
    background-color: #f8f8f8;
}

    .pvtAxisContainer li span.pvtAttr {
        border-color: #aaa;
        background-color: #e4e4e4;
        border-radius: 4px;
    }

.pvtHorizList,
.pvtRenderer {
    width: 100%;
}

table.pvtTable tbody tr th,
table.pvtTable thead tr th {
    background-color: #f8f8f8;
}

.pvtFilterBox {
    border-color: #ccc;
}

    .pvtFilterBox > p > button {
        margin: 0px 2px 0px 2px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #333333;
        background-color: #ffffff;
        border-color: #cccccc;
    }

        .pvtFilterBox > p > button:focus,
        .pvtFilterBox > p > button:active:focus,
        .pvtFilterBox > p > button.active:focus,
        .pvtFilterBox > p > button.focus,
        .pvtFilterBox > p > button:active.focus,
        .pvtFilterBox > p > button.active.focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
            color: #333333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .pvtFilterBox > p > button:hover,
        .pvtFilterBox > p > button:focus,
        .pvtFilterBox > p > button.focus {
            color: #333333;
            text-decoration: none;
            /*color: #333333;*/
            background-color: #e6e6e6;
            border-color: #adadad;
        }

        .pvtFilterBox > p > button:active,
        .pvtFilterBox > p > button.active {
            outline: 0;
            background-image: none;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

.pvtUnused {
    background-color: #fff;
}

table.pvtTable .pvtTotalLabel {
    background-color: #e4e4e4;
}